<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the CalibrationCtrl_init() hook (in hooks/CalibrationCtrl.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="CalibrationCtrl-CalibrationID-<%%VALUE(id)%%>" class="CalibrationCtrl-CalibrationID"><%%SELECT%%><%%VALUE(CalibrationID)%%><%%ENDSELECT%%></td>
		<td id="CalibrationCtrl-Calibtitle-<%%VALUE(id)%%>" class="CalibrationCtrl-Calibtitle"><%%SELECT%%><%%VALUE(Calibtitle)%%><%%ENDSELECT%%></td>
		<td id="CalibrationCtrl-fo_InventoryID-<%%VALUE(id)%%>" class="CalibrationCtrl-fo_InventoryID"><%%SELECT%%><%%VALUE(fo_InventoryID)%%><%%ENDSELECT%%></td>
		<td id="CalibrationCtrl-fo_CalCom-<%%VALUE(id)%%>" class="CalibrationCtrl-fo_CalCom"><%%SELECT%%><%%VALUE(fo_CalCom)%%><%%ENDSELECT%%></td>
		<td id="CalibrationCtrl-fo_DurCal-<%%VALUE(id)%%>" class="CalibrationCtrl-fo_DurCal"><%%SELECT%%><%%VALUE(fo_DurCal)%%><%%ENDSELECT%%></td>
		<td id="CalibrationCtrl-ot_ap_Review-<%%VALUE(id)%%>" class="CalibrationCtrl-ot_ap_Review"><%%SELECT%%><%%VALUE(ot_ap_Review)%%><%%ENDSELECT%%></td>
		<td id="CalibrationCtrl-ot_ap_Approval-<%%VALUE(id)%%>" class="CalibrationCtrl-ot_ap_Approval"><%%SELECT%%><%%VALUE(ot_ap_Approval)%%><%%ENDSELECT%%></td>
		<td id="CalibrationCtrl-ot_ap_QC-<%%VALUE(id)%%>" class="CalibrationCtrl-ot_ap_QC"><%%SELECT%%><%%VALUE(ot_ap_QC)%%><%%ENDSELECT%%></td>
		<td id="CalibrationCtrl-ot_ap_filed-<%%VALUE(id)%%>" class="CalibrationCtrl-ot_ap_filed"><%%SELECT%%><%%VALUE(ot_ap_filed)%%><%%ENDSELECT%%></td>
		<td id="CalibrationCtrl-ot_ap_lastmodified-<%%VALUE(id)%%>" class="CalibrationCtrl-ot_ap_lastmodified"><%%SELECT%%><%%VALUE(ot_ap_lastmodified)%%><%%ENDSELECT%%></td>
