<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the Campaign_init() hook (in hooks/Campaign.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="Campaign-CampaignID-<%%VALUE(id)%%>" class="Campaign-CampaignID"><%%VALUE(CampaignID)%%></td>
		<td id="Campaign-ccpID-<%%VALUE(id)%%>" class="Campaign-ccpID text-right"><%%VALUE(ccpID)%%></td>
		<td id="Campaign-fo_RequiredDate-<%%VALUE(id)%%>" class="Campaign-fo_RequiredDate"><%%VALUE(fo_RequiredDate)%%></td>
		<td id="Campaign-ot_ap_Review-<%%VALUE(id)%%>" class="Campaign-ot_ap_Review"><%%VALUE(ot_ap_Review)%%></td>
		<td id="Campaign-ot_ap_Approval-<%%VALUE(id)%%>" class="Campaign-ot_ap_Approval"><%%VALUE(ot_ap_Approval)%%></td>
		<td id="Campaign-ot_ap_QC-<%%VALUE(id)%%>" class="Campaign-ot_ap_QC"><%%VALUE(ot_ap_QC)%%></td>
		<td id="Campaign-ot_ap_filed-<%%VALUE(id)%%>" class="Campaign-ot_ap_filed"><%%VALUE(ot_ap_filed)%%></td>
		<td id="Campaign-ot_ap_last_modified-<%%VALUE(id)%%>" class="Campaign-ot_ap_last_modified"><%%VALUE(ot_ap_last_modified)%%></td>
