		<td colspan="6" class="row">
			<div id="categories-CategoryName-<%%VALUE(CategoryID)%%>" class="categories-CategoryName col-sm-12 h5 text-bold"><%%SELECT%%><%%VALUE(CategoryName)%%><%%ENDSELECT%%></div>
			<div class="col-md-6"><div id="categories-ot_Picture01-<%%VALUE(CategoryID)%%>" class="categories-ot_Picture01"><a href="<%%TRANSLATION(ImageFolder)%%><%%VALUE(ot_Picture01)%%>" data-lightbox="categories-ot_Picture01"><img src="thumbnail.php?i=<%%VALUE(ot_Picture01)%%>&t=categories&f=ot_Picture01&v=tv" class="img-thumbnail"></a></div></div>
			<div class="col-md-6">				<dl class="dl-horizontal">
					<dt class="categories-ot_Picture02-caption field-caption-tv">Picture_2</dt>
					<dd id="categories-ot_Picture02-<%%VALUE(CategoryID)%%>" class="categories-ot_Picture02"><a href="<%%TRANSLATION(ImageFolder)%%><%%VALUE(ot_Picture02)%%>" data-lightbox="categories-ot_Picture02"><img src="thumbnail.php?i=<%%VALUE(ot_Picture02)%%>&t=categories&f=ot_Picture02&v=tv" class="img-thumbnail"></a></dd>

					<dt class="categories-ot_Picture03-caption field-caption-tv">Picture_3</dt>
					<dd id="categories-ot_Picture03-<%%VALUE(CategoryID)%%>" class="categories-ot_Picture03"><a href="<%%TRANSLATION(ImageFolder)%%><%%VALUE(ot_Picture03)%%>" data-lightbox="categories-ot_Picture03"><img src="thumbnail.php?i=<%%VALUE(ot_Picture03)%%>&t=categories&f=ot_Picture03&v=tv" class="img-thumbnail"></a></dd>

					<dt class="categories-ot_ap_filed-caption field-caption-tv">Filed</dt>
					<dd id="categories-ot_ap_filed-<%%VALUE(CategoryID)%%>" class="categories-ot_ap_filed"><%%SELECT%%><%%VALUE(ot_ap_filed)%%><%%ENDSELECT%%></dd>

					<dt class="categories-ot_ap_lastmodified-caption field-caption-tv">Last modified</dt>
					<dd id="categories-ot_ap_lastmodified-<%%VALUE(CategoryID)%%>" class="categories-ot_ap_lastmodified"><%%SELECT%%><%%VALUE(ot_ap_lastmodified)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
		</td>
