<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the Client_init() hook (in hooks/Client.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="Client-ClientID-<%%VALUE(id)%%>" class="Client-ClientID"><%%SELECT%%><%%VALUE(ClientID)%%><%%ENDSELECT%%></td>
		<td id="Client-CompanyName-<%%VALUE(id)%%>" class="Client-CompanyName"><%%SELECT%%><%%VALUE(CompanyName)%%><%%ENDSELECT%%></td>
		<td id="Client-fo_ContactName-<%%VALUE(id)%%>" class="Client-fo_ContactName"><%%SELECT%%><%%VALUE(fo_ContactName)%%><%%ENDSELECT%%></td>
		<td id="Client-fo_City-<%%VALUE(id)%%>" class="Client-fo_City"><%%SELECT%%><%%VALUE(fo_City)%%><%%ENDSELECT%%></td>
		<td id="Client-fo_Country-<%%VALUE(id)%%>" class="Client-fo_Country"><%%SELECT%%><%%VALUE(fo_Country)%%><%%ENDSELECT%%></td>
		<td id="Client-ot_ap_Review-<%%VALUE(id)%%>" class="Client-ot_ap_Review"><%%SELECT%%><%%VALUE(ot_ap_Review)%%><%%ENDSELECT%%></td>
		<td id="Client-ot_ap_Approval-<%%VALUE(id)%%>" class="Client-ot_ap_Approval"><%%SELECT%%><%%VALUE(ot_ap_Approval)%%><%%ENDSELECT%%></td>
		<td id="Client-ot_ap_QC-<%%VALUE(id)%%>" class="Client-ot_ap_QC"><%%SELECT%%><%%VALUE(ot_ap_QC)%%><%%ENDSELECT%%></td>
		<td id="Client-ot_ap_filed-<%%VALUE(id)%%>" class="Client-ot_ap_filed"><%%SELECT%%><%%VALUE(ot_ap_filed)%%><%%ENDSELECT%%></td>
		<td id="Client-ot_ap_lastmodified-<%%VALUE(id)%%>" class="Client-ot_ap_lastmodified"><%%SELECT%%><%%VALUE(ot_ap_lastmodified)%%><%%ENDSELECT%%></td>
