<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the JD_JS_init() hook (in hooks/JD_JS.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="JD_JS-RecordNumber-<%%VALUE(id)%%>" class="JD_JS-RecordNumber"><%%SELECT%%><%%VALUE(RecordNumber)%%><%%ENDSELECT%%></td>
		<td id="JD_JS-DocItem-<%%VALUE(id)%%>" class="JD_JS-DocItem"><%%SELECT%%><%%VALUE(DocItem)%%><%%ENDSELECT%%></td>
		<td id="JD_JS-fo_Classification-<%%VALUE(id)%%>" class="JD_JS-fo_Classification"><%%SELECT%%><%%VALUE(fo_Classification)%%><%%ENDSELECT%%></td>
		<td id="JD_JS-fo_EmployeeID-<%%VALUE(id)%%>" class="JD_JS-fo_EmployeeID"><%%SELECT%%><%%VALUE(fo_EmployeeID)%%><%%ENDSELECT%%></td>
		<td id="JD_JS-fo_ProjectTeamID-<%%VALUE(id)%%>" class="JD_JS-fo_ProjectTeamID"><%%SELECT%%><%%VALUE(fo_ProjectTeamID)%%><%%ENDSELECT%%></td>
		<td id="JD_JS-ot_ap_Review-<%%VALUE(id)%%>" class="JD_JS-ot_ap_Review"><%%SELECT%%><%%VALUE(ot_ap_Review)%%><%%ENDSELECT%%></td>
		<td id="JD_JS-ot_ap_Approval-<%%VALUE(id)%%>" class="JD_JS-ot_ap_Approval"><%%SELECT%%><%%VALUE(ot_ap_Approval)%%><%%ENDSELECT%%></td>
		<td id="JD_JS-ot_ap_QC-<%%VALUE(id)%%>" class="JD_JS-ot_ap_QC"><%%SELECT%%><%%VALUE(ot_ap_QC)%%><%%ENDSELECT%%></td>
		<td id="JD_JS-ot_ap_filed-<%%VALUE(id)%%>" class="JD_JS-ot_ap_filed"><%%SELECT%%><%%VALUE(ot_ap_filed)%%><%%ENDSELECT%%></td>
		<td id="JD_JS-ot_ap_lastmodified-<%%VALUE(id)%%>" class="JD_JS-ot_ap_lastmodified"><%%SELECT%%><%%VALUE(ot_ap_lastmodified)%%><%%ENDSELECT%%></td>
