<!-- Edit this file to change the layout of the detail view form -->

<a name="detail-view"></a>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div class="panel-body" id="ProjectTeam_dv_container">
	<!-- child links -->
	<div class="row vspacer-md">
		<div class="col-xs-12">
			<input type="hidden" id="Recruitment_hclink" value="Recruitment_view.php?filterer_ProjectTeamID=<%%URLVALUE(ProjectTeamID)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="PersonnalFile_hclink" value="PersonnalFile_view.php?filterer_ProjectTeamID=<%%URLVALUE(ProjectTeamID)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="Competency_hclink" value="Competency_view.php?filterer_ProjectTeamID=<%%URLVALUE(ProjectTeamID)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="Training_hclink" value="Training_view.php?filterer_ProjectTeamID=<%%URLVALUE(ProjectTeamID)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="JD_JS_hclink" value="JD_JS_view.php?filterer_fo_ProjectTeamID=<%%URLVALUE(ProjectTeamID)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="ProjectTeam_hclink" value="ProjectTeam_view.php?filterer_fo_ReportsTo=<%%URLVALUE(ProjectTeamID)%%>&<%%EMBEDDED%%>">
			<div class="clearfix"></div>
		</div>
	</div>
	<hr class="hidden-xs hidden-sm">

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-10" id="ProjectTeam_dv_form">
			<fieldset class="form-horizontal">

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="ProjectTeamID" class="control-label col-lg-3">Employee ID</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="ProjectTeamID"><%%VALUE(ProjectTeamID)%%></div>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="EmpNo" class="control-label col-lg-3">Project Team Number<span class="text-danger"><%%TRANSLATION(*)%%></span> <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#EmpNo-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="EmpNo-description"><div class="alert alert-info">Dedicated ID for the Project Team. This serve as the digital file number for reference.</div></span>

						<input maxlength="256" type="text" class="form-control" name="EmpNo" id="EmpNo" value="<%%VALUE(EmpNo)%%>" required><div class="text-danger vspacer-md" id="EmpNo-uniqueness-note" style="display: none;"><%%TRANSLATION(unique field error)%%></div>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="Name" class="control-label col-lg-3">Full Name</label>
					<div class="col-lg-9">
						<input maxlength="100" type="text" class="form-control" name="Name" id="Name" value="<%%VALUE(Name)%%>">
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="BaseLocation" class="control-label col-lg-3" data-parent_link="view_parent_modal">Work Location <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#BaseLocation-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="BaseLocation-description"><div class="alert alert-info">Related work location for personnel</div></span>

						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(BaseLocation)%%><%%PLINK(BaseLocation)%%><%%ADDNEW(WorkLocation)%%></div>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="fo_TermEmployment" class="control-label col-lg-3">Employment Term <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#fo_TermEmployment-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="fo_TermEmployment-description"><div class="alert alert-info">Mode of employment for personnel</div></span>

						<%%COMBO(fo_TermEmployment)%%>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Photo_1 <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#fo_Photo01-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="fo_Photo01-description"><div class="alert alert-info">Maximum file size allowed: 10000 KB.<br>Allowed file types: jpg, jpeg, gif, png</div></span>

						<div class="form-control-static"><div class="pull-left">

						<img src="<%%TRANSLATION(ImageFolder)%%><%%VALUE(fo_Photo01)%%>" class="img-responsive img-thumbnail" id="fo_Photo01-image">
</div>

												<div class="pull-right" style="overflow-x: hidden;">
							<div class="hidden-md hidden-lg vspacer-lg"></div>
							<%%UPLOADFILE(fo_Photo01)%%>
							<%%REMOVEFILE(fo_Photo01)%%>
						</div>
						<div class="clearfix"></div>
					</div>

					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Photo_2 <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#fo_Photo02-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="fo_Photo02-description"><div class="alert alert-info">Maximum file size allowed: 10000 KB.<br>Allowed file types: jpg, jpeg, gif, png</div></span>

						<div class="form-control-static"><div class="pull-left">

						<img src="<%%TRANSLATION(ImageFolder)%%><%%VALUE(fo_Photo02)%%>" class="img-responsive img-thumbnail" id="fo_Photo02-image">
</div>

												<div class="pull-right" style="overflow-x: hidden;">
							<div class="hidden-md hidden-lg vspacer-lg"></div>
							<%%UPLOADFILE(fo_Photo02)%%>
							<%%REMOVEFILE(fo_Photo02)%%>
						</div>
						<div class="clearfix"></div>
					</div>

					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Photo_3 <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#fo_Photo03-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="fo_Photo03-description"><div class="alert alert-info">Maximum file size allowed: 10000 KB.<br>Allowed file types: jpg, jpeg, gif, png</div></span>

						<div class="form-control-static"><div class="pull-left">

						<img src="<%%TRANSLATION(ImageFolder)%%><%%VALUE(fo_Photo03)%%>" class="img-responsive img-thumbnail" id="fo_Photo03-image">
</div>

												<div class="pull-right" style="overflow-x: hidden;">
							<div class="hidden-md hidden-lg vspacer-lg"></div>
							<%%UPLOADFILE(fo_Photo03)%%>
							<%%REMOVEFILE(fo_Photo03)%%>
						</div>
						<div class="clearfix"></div>
					</div>

					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="fo_Position" class="control-label col-lg-3">Position <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#fo_Position-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="fo_Position-description"><div class="alert alert-info">Position for the personnel. The Position is required as reference and detail for personnel.</div></span>

						<input maxlength="200" type="text" class="form-control" name="fo_Position" id="fo_Position" value="<%%VALUE(fo_Position)%%>">
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="fo_BirthDate" class="control-label col-lg-3">Birth Date</label>
					<div class="col-lg-9">
						<%%COMBO(fo_BirthDate)%%>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="fo_HireDate" class="control-label col-lg-3">Hire Date</label>
					<div class="col-lg-9">
						<%%COMBO(fo_HireDate)%%>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="fo_Address" class="control-label col-lg-3">Address</label>
					<div class="col-lg-9">
						<textarea class="form-control" name="fo_Address" id="fo_Address" rows="5"><%%VALUE(fo_Address)%%></textarea>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="fo_City" class="control-label col-lg-3">City</label>
					<div class="col-lg-9">
						<input maxlength="100" type="text" class="form-control" name="fo_City" id="fo_City" value="<%%VALUE(fo_City)%%>">
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="fo_Region" class="control-label col-lg-3">Region</label>
					<div class="col-lg-9">
						<input maxlength="100" type="text" class="form-control" name="fo_Region" id="fo_Region" value="<%%VALUE(fo_Region)%%>">
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="fo_PostalCode" class="control-label col-lg-3">Postal Code</label>
					<div class="col-lg-9">
						<input maxlength="10" type="text" class="form-control" name="fo_PostalCode" id="fo_PostalCode" value="<%%VALUE(fo_PostalCode)%%>">
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="fo_Country" class="control-label col-lg-3">Country</label>
					<div class="col-lg-9">
						<%%COMBO(fo_Country)%%>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="fo_HomePhone" class="control-label col-lg-3">Home Phone</label>
					<div class="col-lg-9">
						<input maxlength="24" type="text" class="form-control" name="fo_HomePhone" id="fo_HomePhone" value="<%%VALUE(fo_HomePhone)%%>">
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="fo_Extension" class="control-label col-lg-3">Extension</label>
					<div class="col-lg-9">
						<input maxlength="4" type="text" class="form-control" name="fo_Extension" id="fo_Extension" value="<%%VALUE(fo_Extension)%%>">
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="fo_Notes" class="control-label col-lg-3">Notes</label>
					<div class="col-lg-9">
						<%%HTMLAREA(fo_Notes)%%>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="fo_ReportsTo" class="control-label col-lg-3" data-parent_link="view_parent_hidden">ReportsTo</label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(fo_ReportsTo)%%><%%ADDNEW(ProjectTeam)%%></div>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<div class="col-lg-offset-3 col-lg-9">
						<div class="checkbox"><label for="fo_Acknowledgement"><input type="checkbox" name="fo_Acknowledgement" id="fo_Acknowledgement" value="1" <%%CHECKED(fo_Acknowledgement)%%>> IMS Acknowledgement</label>
							<i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#fo_Acknowledgement-description"></i>
							<span class="help-block collapse" id="fo_Acknowledgement-description"><div class="alert alert-info">Personnel is acknowledged that he/she is aware of the Job description and job specification. The Acknowledgement also cover in depth of the IMS requirement and obligation towards successfull implementation of the IMS.</div></span>
						</div>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<div class="col-lg-offset-3 col-lg-9">
						<div class="checkbox"><label for="fo_Induction"><input type="checkbox" name="fo_Induction" id="fo_Induction" value="1" <%%CHECKED(fo_Induction)%%>> Awareness & Induction</label>
							<i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#fo_Induction-description"></i>
							<span class="help-block collapse" id="fo_Induction-description"><div class="alert alert-info">Personnel acknowledged that he/she already undergone proper induction and awareness training with regards to the IMS.</div></span>
						</div>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="ot_FileLoc" class="control-label col-lg-3">File Location & Number</label>
					<div class="col-lg-9">
						<input maxlength="100" type="text" class="form-control" name="ot_FileLoc" id="ot_FileLoc" value="<%%VALUE(ot_FileLoc)%%>">
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="ot_otherdetails" class="control-label col-lg-3">Other details</label>
					<div class="col-lg-9">
						<textarea class="form-control" name="ot_otherdetails" id="ot_otherdetails" rows="5"><%%VALUE(ot_otherdetails)%%></textarea>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="ot_comments" class="control-label col-lg-3">Comments</label>
					<div class="col-lg-9">
						<%%HTMLAREA(ot_comments)%%>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="ot_SharedLink1" class="control-label col-lg-3">Shared Link 1</label>
					<div class="col-lg-9">
						
						<div class="row">
							<div class="col-md-1">
								<a id="ot_SharedLink1-link" href="link.php?t=ProjectTeam&f=ot_SharedLink1&i=<%%VALUE(ProjectTeamID)%%>" target="_blank"><i class="glyphicon glyphicon-globe" title="<%%VALUE(ot_SharedLink1)%%>" style="font-size: x-large; top: .35em;"></i></a>
								<label for="ot_SharedLink1"><button type="button" id="ot_SharedLink1-edit-link" class="btn btn-default hspacer-lg vspacer-sm" data-toggle="collapse" data-target="#ot_SharedLink1" title="<%%TRANSLATION(Edit)%%>"><i class="glyphicon glyphicon-pencil"></i></button></label>
							</div>
							<script>jQuery(function(){ /* */ var e_ot_SharedLink1 = '<%%VALUE(ot_SharedLink1)%%>'; if(e_ot_SharedLink1 == '' || e_ot_SharedLink1 == '&nbsp;' || e_ot_SharedLink1 == 'blank.gif') jQuery('#ot_SharedLink1-link').hide(); });</script><input maxlength="200" type="text" class="form-control collapse" name="ot_SharedLink1" id="ot_SharedLink1" value="<%%VALUE(ot_SharedLink1)%%>">					</div>

					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="ot_SharedLink2" class="control-label col-lg-3">Shared Link 2</label>
					<div class="col-lg-9">
						
						<div class="row">
							<div class="col-md-1">
								<a id="ot_SharedLink2-link" href="link.php?t=ProjectTeam&f=ot_SharedLink2&i=<%%VALUE(ProjectTeamID)%%>" target="_blank"><i class="glyphicon glyphicon-globe" title="<%%VALUE(ot_SharedLink2)%%>" style="font-size: x-large; top: .35em;"></i></a>
								<label for="ot_SharedLink2"><button type="button" id="ot_SharedLink2-edit-link" class="btn btn-default hspacer-lg vspacer-sm" data-toggle="collapse" data-target="#ot_SharedLink2" title="<%%TRANSLATION(Edit)%%>"><i class="glyphicon glyphicon-pencil"></i></button></label>
							</div>
							<script>jQuery(function(){ /* */ var e_ot_SharedLink2 = '<%%VALUE(ot_SharedLink2)%%>'; if(e_ot_SharedLink2 == '' || e_ot_SharedLink2 == '&nbsp;' || e_ot_SharedLink2 == 'blank.gif') jQuery('#ot_SharedLink2-link').hide(); });</script><input maxlength="200" type="text" class="form-control collapse" name="ot_SharedLink2" id="ot_SharedLink2" value="<%%VALUE(ot_SharedLink2)%%>">					</div>

					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Reference_1 <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#ot_Ref01-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="ot_Ref01-description"><div class="alert alert-info">Maximum file size allowed: 64000 KB.<br>Allowed file types: txt, doc, docx, docm, odt, pdf, rtf</div></span>

						
						<div class="row">
							<div class="col-md-8">
								<a id="ot_Ref01-link" href="link.php?t=ProjectTeam&f=ot_Ref01&i=<%%VALUE(ProjectTeamID)%%>" target="_blank"><%%VALUE(ot_Ref01)%%></a>
							</div>
							<script>jQuery(function(){ /* */ var e_ot_Ref01 = '<%%VALUE(ot_Ref01)%%>'; if(e_ot_Ref01 == '' || e_ot_Ref01 == '&nbsp;' || e_ot_Ref01 == 'blank.gif') jQuery('#ot_Ref01-link').hide(); });</script>						<div class="pull-right" style="overflow-x: hidden;">
							<div class="hidden-md hidden-lg vspacer-lg"></div>
							<%%UPLOADFILE(ot_Ref01)%%>
							<%%REMOVEFILE(ot_Ref01)%%>
						</div>
						<div class="clearfix"></div>
					</div>

					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Reference_2 <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#ot_Ref02-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="ot_Ref02-description"><div class="alert alert-info">Maximum file size allowed: 64000 KB.<br>Allowed file types: txt, doc, docx, docm, odt, pdf, rtf</div></span>

						
						<div class="row">
							<div class="col-md-8">
								<a id="ot_Ref02-link" href="link.php?t=ProjectTeam&f=ot_Ref02&i=<%%VALUE(ProjectTeamID)%%>" target="_blank"><%%VALUE(ot_Ref02)%%></a>
							</div>
							<script>jQuery(function(){ /* */ var e_ot_Ref02 = '<%%VALUE(ot_Ref02)%%>'; if(e_ot_Ref02 == '' || e_ot_Ref02 == '&nbsp;' || e_ot_Ref02 == 'blank.gif') jQuery('#ot_Ref02-link').hide(); });</script>						<div class="pull-right" style="overflow-x: hidden;">
							<div class="hidden-md hidden-lg vspacer-lg"></div>
							<%%UPLOADFILE(ot_Ref02)%%>
							<%%REMOVEFILE(ot_Ref02)%%>
						</div>
						<div class="clearfix"></div>
					</div>

					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Reference_3 <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#ot_Ref03-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="ot_Ref03-description"><div class="alert alert-info">Maximum file size allowed: 64000 KB.<br>Allowed file types: txt, doc, docx, docm, odt, pdf, rtf</div></span>

						
						<div class="row">
							<div class="col-md-8">
								<a id="ot_Ref03-link" href="link.php?t=ProjectTeam&f=ot_Ref03&i=<%%VALUE(ProjectTeamID)%%>" target="_blank"><%%VALUE(ot_Ref03)%%></a>
							</div>
							<script>jQuery(function(){ /* */ var e_ot_Ref03 = '<%%VALUE(ot_Ref03)%%>'; if(e_ot_Ref03 == '' || e_ot_Ref03 == '&nbsp;' || e_ot_Ref03 == 'blank.gif') jQuery('#ot_Ref03-link').hide(); });</script>						<div class="pull-right" style="overflow-x: hidden;">
							<div class="hidden-md hidden-lg vspacer-lg"></div>
							<%%UPLOADFILE(ot_Ref03)%%>
							<%%REMOVEFILE(ot_Ref03)%%>
						</div>
						<div class="clearfix"></div>
					</div>

					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Reference_4 <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#ot_Ref04-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="ot_Ref04-description"><div class="alert alert-info">Maximum file size allowed: 64000 KB.<br>Allowed file types: zip, rar, gz, tar, iso</div></span>

						
						<div class="row">
							<div class="col-md-8">
								<a id="ot_Ref04-link" href="link.php?t=ProjectTeam&f=ot_Ref04&i=<%%VALUE(ProjectTeamID)%%>" target="_blank"><%%VALUE(ot_Ref04)%%></a>
							</div>
							<script>jQuery(function(){ /* */ var e_ot_Ref04 = '<%%VALUE(ot_Ref04)%%>'; if(e_ot_Ref04 == '' || e_ot_Ref04 == '&nbsp;' || e_ot_Ref04 == 'blank.gif') jQuery('#ot_Ref04-link').hide(); });</script>						<div class="pull-right" style="overflow-x: hidden;">
							<div class="hidden-md hidden-lg vspacer-lg"></div>
							<%%UPLOADFILE(ot_Ref04)%%>
							<%%REMOVEFILE(ot_Ref04)%%>
						</div>
						<div class="clearfix"></div>
					</div>

					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Reference_5 <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#ot_Ref05-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="ot_Ref05-description"><div class="alert alert-info">Maximum file size allowed: 64000 KB.<br>Allowed file types: zip, rar, gz, tar, iso</div></span>

						
						<div class="row">
							<div class="col-md-8">
								<a id="ot_Ref05-link" href="link.php?t=ProjectTeam&f=ot_Ref05&i=<%%VALUE(ProjectTeamID)%%>" target="_blank"><%%VALUE(ot_Ref05)%%></a>
							</div>
							<script>jQuery(function(){ /* */ var e_ot_Ref05 = '<%%VALUE(ot_Ref05)%%>'; if(e_ot_Ref05 == '' || e_ot_Ref05 == '&nbsp;' || e_ot_Ref05 == 'blank.gif') jQuery('#ot_Ref05-link').hide(); });</script>						<div class="pull-right" style="overflow-x: hidden;">
							<div class="hidden-md hidden-lg vspacer-lg"></div>
							<%%UPLOADFILE(ot_Ref05)%%>
							<%%REMOVEFILE(ot_Ref05)%%>
						</div>
						<div class="clearfix"></div>
					</div>

					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Reference_6 <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#ot_Ref06-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="ot_Ref06-description"><div class="alert alert-info">Maximum file size allowed: 64000 KB.<br>Allowed file types: zip, rar, gz, tar, iso</div></span>

						
						<div class="row">
							<div class="col-md-8">
								<a id="ot_Ref06-link" href="link.php?t=ProjectTeam&f=ot_Ref06&i=<%%VALUE(ProjectTeamID)%%>" target="_blank"><%%VALUE(ot_Ref06)%%></a>
							</div>
							<script>jQuery(function(){ /* */ var e_ot_Ref06 = '<%%VALUE(ot_Ref06)%%>'; if(e_ot_Ref06 == '' || e_ot_Ref06 == '&nbsp;' || e_ot_Ref06 == 'blank.gif') jQuery('#ot_Ref06-link').hide(); });</script>						<div class="pull-right" style="overflow-x: hidden;">
							<div class="hidden-md hidden-lg vspacer-lg"></div>
							<%%UPLOADFILE(ot_Ref06)%%>
							<%%REMOVEFILE(ot_Ref06)%%>
						</div>
						<div class="clearfix"></div>
					</div>

					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="ot_ap_Review" class="control-label col-lg-3" data-parent_link="view_parent_modal">Review</label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(ot_ap_Review)%%></div>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="ot_ap_RevComment" class="control-label col-lg-3">Review Comment</label>
					<div class="col-lg-9">
						<textarea class="form-control" name="ot_ap_RevComment" id="ot_ap_RevComment" rows="5"><%%VALUE(ot_ap_RevComment)%%></textarea>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="ot_ap_Approval" class="control-label col-lg-3" data-parent_link="view_parent_modal">Approval</label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(ot_ap_Approval)%%></div>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="ot_ap_ApprComment" class="control-label col-lg-3">Approval Comment</label>
					<div class="col-lg-9">
						<textarea class="form-control" name="ot_ap_ApprComment" id="ot_ap_ApprComment" rows="5"><%%VALUE(ot_ap_ApprComment)%%></textarea>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="ot_ap_QC" class="control-label col-lg-3" data-parent_link="view_parent_modal">IMS Control</label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(ot_ap_QC)%%></div>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="ot_ap_QCComment" class="control-label col-lg-3">IMS Control Comment</label>
					<div class="col-lg-9">
						<textarea class="form-control" name="ot_ap_QCComment" id="ot_ap_QCComment" rows="5"><%%VALUE(ot_ap_QCComment)%%></textarea>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="ot_ap_filed" class="control-label col-lg-3">Register <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#ot_ap_filed-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="ot_ap_filed-description"><div class="alert alert-info">This field is automatically populated with the date and time when this record was created.</div></span>

						<div class="form-control-static" id="ot_ap_filed"><%%VALUE(ot_ap_filed)%%></div>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="ot_ap_lastmodified" class="control-label col-lg-3">Last modified <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#ot_ap_lastmodified-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="ot_ap_lastmodified-description"><div class="alert alert-info">This field is automatically populated with the date and time when this record was last modified.</div></span>

						<div class="form-control-static" id="ot_ap_lastmodified"><%%VALUE(ot_ap_lastmodified)%%></div>
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<hr class="hidden-md hidden-lg">
		<div class="col-md-4 col-lg-2" id="ProjectTeam_dv_action_buttons">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DVPRINT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div>
	</div>


	<!-- child records -->
	<hr>
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<div id="ProjectTeam-children" class="children-tabs"></div>
		</div>
	</div>

</div><!-- /div class="panel-body" -->
	<script src="nicEdit.js"></script>
	<script>
		$j(function() {
			var add_new_mode = (!$j('input[name=SelectedID]').val());
			var embedded_mode = ($j('input[name=Embedded]').val() == 1);

			/* auto-close embedded page? */
			var autoclose_mode = ($j('input[name=AutoClose]').val() == 1);
			var record_added_ok = (location.search.split('record-added-ok=').length == 2);
			var record_updated_ok = (location.search.split('record-updated-ok=').length == 2);
			if((record_added_ok || record_updated_ok) && embedded_mode && autoclose_mode){
				setTimeout(AppGini.closeParentModal, 2000);
			}

			bkLib.onDomLoaded(function(){
				if($j('textarea#fo_Notes').length) new nicEditor({ fullPanel : true }).panelInstance('fo_Notes');
				if($j('textarea#ot_comments').length) new nicEditor({ fullPanel : true }).panelInstance('ot_comments');

				$j('.nicEdit-panelContain').parent().width('100%');
				$j('.nicEdit-panelContain').parent().next().width('98%');
				$j('.nicEdit-main').width('99%');
			});
			/* enable DV action buttons to float on scrolling down the form */
			enable_dvab_floating();

			if(!(embedded_mode && AppGini.mobileDevice())){
				$j('select, input[type=text], textarea').not(':disabled').eq(0).focus();
			}

			$j('form').eq(0).change(function(){
				if($j(this).data('already_changed')) return;
				if($j('#deselect').length) $j('#deselect').removeClass('btn-default').addClass('btn-warning').get(0).lastChild.data = " <%%TRANSLATION(Cancel)%%>";
				$j(this).data('already_changed', true);
			});

			$j('a[href="<%%TRANSLATION(ImageFolder)%%>"]').click(function(){ /* */ return false; });

			if(embedded_mode){
				/* hide links to children tables in embedded mode */
				$j('.detail_view a[id$=_link]').remove();

				/* append embedded mode to all links */
				var append_embedded = function(){
					$j('a[href]:not([href^="#"]):not([href^="javascript"]):not([href$="Embedded=1"]):not([href*="link.php?t="]):not([href^="mailto:"])').each(
						function(){
							$j(this).attr('href', $j(this).attr('href') + '&Embedded=1');
						}
					);
				}
				setTimeout(append_embedded, 500);
				setTimeout(append_embedded, 1500);
				setTimeout(append_embedded, 2500);
				setTimeout(append_embedded, 3500);
			}

			/* when no record is selected ('add new' mode) */
			if(add_new_mode){
				/* hide links to children tables */
				$j('.detail_view a[id$=_link]').remove();
			}else{
				post(
					'parent-children.php', {
						ParentTable: 'ProjectTeam',
						SelectedID: '<%%VALUE(ProjectTeamID)%%>',
						Operation: 'show-children'
					},
					'ProjectTeam-children'
				);
			}

			if(!embedded_mode){
				/* add a horizontal spacer to [add new parent] buttons that don't have a spacered element before them */
				$j('.add_new_parent').prev(':not(.hspacer-md)').next().addClass('hspacer-md');

				$j('.add_new_parent').click(function(){
					var pt = $j(this).attr('id').replace(/_add_new$/, '');
					modal_window({
						url: pt + '_view.php?addNew_x=1&Embedded=1',
						close: function(){
							var field_id = $j('#' + pt + '_add_new').prevAll('input:hidden').eq(0).attr('id');
							$j('#' + field_id + '-container').select2('focus').select2('focus');
						},
						size: 'full',
						title: $j(this).attr('title')
					});
				});
			}

			AppGini.hideViewParentLinks();

			$j('form').on('click', '.view_parent', function(){
				var pt = $j(this).attr('id').replace(/_view_parent$/, '');
				if($j(this).prevAll('input:hidden').length){
					var parent_id = $j(this).prevAll('input:hidden').eq(0).val();
				}else{
					var parent_id = $j(this).prevAll().children('input:hidden').eq(0).val();
				}

				/* handle radio lookups */
				if($j(this).prevAll('[type=radio]').length){
					parent_id = $j(this).prevAll('[type=radio]').eq(0).val();
				}

				if(parent_id != '{empty_value}' && parent_id != undefined && parent_id != ''){
					var parent_link = $j(this).parents('.form-group').children('label').data('parent_link');
					switch(parent_link){
						case 'view_parent_hidden':
							break;
						case 'view_parent_modal':
							modal_window({
								url: pt + '_view.php?Embedded=1&SelectedID=' + encodeURIComponent(parent_id),
								close: function(){
									var field_id = $j('#' + pt + '_view_parent').prevAll('input:hidden').eq(0).attr('id');
									$j('#' + field_id + '-container').select2('focus').select2('focus');
								},
								size: 'full',
								title: $j(this).attr('title')
							});
							break;
						case 'view_parent_same_window':
							window.location = pt + '_view.php?Embedded=' + (embedded_mode ? '1' : '') + '&SelectedID=' + encodeURIComponent(parent_id);
							break;
						case 'view_parent_new_window':
							window.open(pt + '_view.php?SelectedID=' + encodeURIComponent(parent_id));
							break;
					}

				}
			});

			enforce_uniqueness('ProjectTeam', 'EmpNo');

			/* load admin tools for admin user */
			if(!add_new_mode){
				$j('body').append('<div id="admin-tools-appendix"></div>');
				$j('#admin-tools-appendix').load(
					'ajax_admin_tools.php?table=ProjectTeam&id=<%%URLVALUE(ProjectTeamID)%%>',
					function(resp){
						if(!resp.length) return;
						$j.ajax('ajax_admin_tools.php?action=get_admin_tools_js&table=ProjectTeam&id=<%%URLVALUE(ProjectTeamID)%%>');
					}
				);
			}

			/* warn user if 'add new' clicked while unsaved changes exist */
			$j('#addNew').click(function(){
				if($j('#deselect.btn-warning').length){
					return confirm('<%%TRANSLATION(discard changes confirm)%%>');
				}
			});

		});
	</script>