<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">ID</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(id)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Inquiry Record</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(InqNumber)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Client</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="ClientID<%%RND1%%>"><%%COMBOTEXT(ClientID)%%></span></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Inquiry Date</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(fo_InquiryDate)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Due Date</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(fo_DueDate)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Input</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(fo_kelasifikasi)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Tentative Project Date</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(fo_DeliveryDate)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Logistic</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="fo_Logistic<%%RND1%%>"><%%COMBOTEXT(fo_Logistic)%%></span></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Freight</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(fo_Freight)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Ship Name</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="fo_ShipName<%%RND1%%>"></span></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Ship Address</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="fo_ShipAddress<%%RND1%%>"></span></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Ship City</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="fo_ShipCity<%%RND1%%>"></span></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Ship Region</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="fo_ShipRegion<%%RND1%%>"></span></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Ship Postal Code</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="fo_ShipPostalCode<%%RND1%%>"></span></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Ship Country</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="fo_ShipCountry<%%RND1%%>"></span></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">File Location & Number</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(ot_FileLoc)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Other details</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(ot_otherdetails)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Comments</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(ot_comments)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Shared Link 1</label>
			<div class="col-xs-9">
				<div class="form-control-static"><a id="ot_SharedLink1-link" href="link.php?t=Inquiry&f=ot_SharedLink1&i=<%%VALUE(id)%%>" target="_blank"><i class="glyphicon glyphicon-globe" title="<%%VALUE(ot_SharedLink1)%%>" style="font-size: x-large;"></i></a><script>jQuery(function(){ var e_ot_SharedLink1 = '<%%VALUE(ot_SharedLink1)%%>'; if(e_ot_SharedLink1 == '' || e_ot_SharedLink1 == '&nbsp;' || e_ot_SharedLink1 == 'blank.gif') jQuery('#ot_SharedLink1-link').hide(); });</script></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Shared Link 2</label>
			<div class="col-xs-9">
				<div class="form-control-static"><a id="ot_SharedLink2-link" href="link.php?t=Inquiry&f=ot_SharedLink2&i=<%%VALUE(id)%%>" target="_blank"><i class="glyphicon glyphicon-globe" title="<%%VALUE(ot_SharedLink2)%%>" style="font-size: x-large;"></i></a><script>jQuery(function(){ var e_ot_SharedLink2 = '<%%VALUE(ot_SharedLink2)%%>'; if(e_ot_SharedLink2 == '' || e_ot_SharedLink2 == '&nbsp;' || e_ot_SharedLink2 == 'blank.gif') jQuery('#ot_SharedLink2-link').hide(); });</script></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Reference_1</label>
			<div class="col-xs-9">
				<div class="form-control-static"><a id="ot_Ref01-link" href="link.php?t=Inquiry&f=ot_Ref01&i=<%%VALUE(id)%%>" target="_blank"><%%VALUE(ot_Ref01)%%></a><script>jQuery(function(){ var e_ot_Ref01 = '<%%VALUE(ot_Ref01)%%>'; if(e_ot_Ref01 == '' || e_ot_Ref01 == '&nbsp;' || e_ot_Ref01 == 'blank.gif') jQuery('#ot_Ref01-link').hide(); });</script></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Reference_2</label>
			<div class="col-xs-9">
				<div class="form-control-static"><a id="ot_Ref02-link" href="link.php?t=Inquiry&f=ot_Ref02&i=<%%VALUE(id)%%>" target="_blank"><%%VALUE(ot_Ref02)%%></a><script>jQuery(function(){ var e_ot_Ref02 = '<%%VALUE(ot_Ref02)%%>'; if(e_ot_Ref02 == '' || e_ot_Ref02 == '&nbsp;' || e_ot_Ref02 == 'blank.gif') jQuery('#ot_Ref02-link').hide(); });</script></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Photo</label>
			<div class="col-xs-9">
				<div class="form-control-static">
<img src="<%%TRANSLATION(ImageFolder)%%><%%VALUE(ot_Photo)%%>" class="img-responsive img-thumbnail">
</div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Review</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="ot_ap_Review<%%RND1%%>"><%%COMBOTEXT(ot_ap_Review)%%></span></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Review Comment</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(ot_ap_RevComment)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Approval</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="ot_ap_Approval<%%RND1%%>"><%%COMBOTEXT(ot_ap_Approval)%%></span></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Approval Comment</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(ot_ap_ApprComment)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">IMS Control</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="ot_ap_QC<%%RND1%%>"><%%COMBOTEXT(ot_ap_QC)%%></span></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">IMS Control Comment</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(ot_ap_QCComment)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Filed</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(ot_ap_filed)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Last modified</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(ot_ap_lastmodified)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<!-- child records -->
<div class="panel-body">
	<div id="Inquiry-children"></div>
</div>

<script>
	$j(function(){
		/* prevent loading child records in multiple DVP */
		if($j('[id=Inquiry-children]').length > 1) return;

		post(
			'parent-children.php', {
				ParentTable: 'Inquiry',
				SelectedID: '<%%VALUE(id)%%>',
				Operation: 'show-children-printable'
			},
			'Inquiry-children',
			'disable-element',
			'loading-element',
			apply_persisting_children
		);

		$j('form').on('click', '#children-tabs button[data-target]', function(){
			$j(this).toggleClass('active');
			persist_expanded_child($j(this).attr('id'));
		});
	})
</script>

