<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the Inventory_init() hook (in hooks/Inventory.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="Inventory-InventoryID-<%%VALUE(id)%%>" class="Inventory-InventoryID"><%%VALUE(InventoryID)%%></td>
		<td id="Inventory-asstitle-<%%VALUE(id)%%>" class="Inventory-asstitle"><%%VALUE(asstitle)%%></td>
		<td id="Inventory-fo_Type-<%%VALUE(id)%%>" class="Inventory-fo_Type"><%%VALUE(fo_Type)%%></td>
		<td id="Inventory-fo_Manufacturer-<%%VALUE(id)%%>" class="Inventory-fo_Manufacturer"><%%VALUE(fo_Manufacturer)%%></td>
		<td id="Inventory-fo_Condition-<%%VALUE(id)%%>" class="Inventory-fo_Condition"><%%VALUE(fo_Condition)%%></td>
		<td id="Inventory-fo_UnitPrice-<%%VALUE(id)%%>" class="Inventory-fo_UnitPrice text-right"><%%VALUE(fo_UnitPrice)%%></td>
		<td id="Inventory-ot_ap_Review-<%%VALUE(id)%%>" class="Inventory-ot_ap_Review"><%%VALUE(ot_ap_Review)%%></td>
		<td id="Inventory-ot_ap_Approval-<%%VALUE(id)%%>" class="Inventory-ot_ap_Approval"><%%VALUE(ot_ap_Approval)%%></td>
		<td id="Inventory-ot_ap_QC-<%%VALUE(id)%%>" class="Inventory-ot_ap_QC"><%%VALUE(ot_ap_QC)%%></td>
		<td id="Inventory-ot_ap_filed-<%%VALUE(id)%%>" class="Inventory-ot_ap_filed"><%%VALUE(ot_ap_filed)%%></td>
		<td id="Inventory-ot_ap_last_modified-<%%VALUE(id)%%>" class="Inventory-ot_ap_last_modified"><%%VALUE(ot_ap_last_modified)%%></td>
