<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the Recruitment_init() hook (in hooks/Recruitment.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="Recruitment-CompID-<%%VALUE(RecruitID)%%>" class="Recruitment-CompID"><%%SELECT%%><%%VALUE(CompID)%%><%%ENDSELECT%%></td>
		<td id="Recruitment-EmployeeID-<%%VALUE(RecruitID)%%>" class="Recruitment-EmployeeID"><%%SELECT%%><%%VALUE(EmployeeID)%%><%%ENDSELECT%%></td>
		<td id="Recruitment-ProjectTeamID-<%%VALUE(RecruitID)%%>" class="Recruitment-ProjectTeamID"><%%SELECT%%><%%VALUE(ProjectTeamID)%%><%%ENDSELECT%%></td>
		<td id="Recruitment-fo_RecruitmentSession-<%%VALUE(RecruitID)%%>" class="Recruitment-fo_RecruitmentSession"><%%SELECT%%><%%VALUE(fo_RecruitmentSession)%%><%%ENDSELECT%%></td>
		<td id="Recruitment-fo_Date-<%%VALUE(RecruitID)%%>" class="Recruitment-fo_Date"><%%SELECT%%><%%VALUE(fo_Date)%%><%%ENDSELECT%%></td>
		<td id="Recruitment-ot_ap_filed-<%%VALUE(RecruitID)%%>" class="Recruitment-ot_ap_filed"><%%SELECT%%><%%VALUE(ot_ap_filed)%%><%%ENDSELECT%%></td>
		<td id="Recruitment-ot_ap_lastmodified-<%%VALUE(RecruitID)%%>" class="Recruitment-ot_ap_lastmodified"><%%SELECT%%><%%VALUE(ot_ap_lastmodified)%%><%%ENDSELECT%%></td>
