<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the ActCard_init() hook (in hooks/ActCard.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="ActCard-ACID-<%%VALUE(id)%%>" class="ActCard-ACID"><%%SELECT%%><%%VALUE(ACID)%%><%%ENDSELECT%%></td>
		<td id="ActCard-ccpID-<%%VALUE(id)%%>" class="ActCard-ccpID text-left"><%%SELECT%%><%%VALUE(ccpID)%%><%%ENDSELECT%%></td>
		<td id="ActCard-fo_Classification-<%%VALUE(id)%%>" class="ActCard-fo_Classification"><%%SELECT%%><%%VALUE(fo_Classification)%%><%%ENDSELECT%%></td>
		<td id="ActCard-fo_RequiredDate-<%%VALUE(id)%%>" class="ActCard-fo_RequiredDate"><%%SELECT%%><%%VALUE(fo_RequiredDate)%%><%%ENDSELECT%%></td>
		<td id="ActCard-ot_ap_filed-<%%VALUE(id)%%>" class="ActCard-ot_ap_filed"><%%SELECT%%><%%VALUE(ot_ap_filed)%%><%%ENDSELECT%%></td>
		<td id="ActCard-ot_ap_last_modified-<%%VALUE(id)%%>" class="ActCard-ot_ap_last_modified"><%%SELECT%%><%%VALUE(ot_ap_last_modified)%%><%%ENDSELECT%%></td>
