<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the Bi_WeeklyMeeting_init() hook (in hooks/Bi_WeeklyMeeting.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="Bi_WeeklyMeeting-BwmID-<%%VALUE(id)%%>" class="Bi_WeeklyMeeting-BwmID"><%%VALUE(BwmID)%%></td>
		<td id="Bi_WeeklyMeeting-ccpID-<%%VALUE(id)%%>" class="Bi_WeeklyMeeting-ccpID text-left"><%%VALUE(ccpID)%%></td>
		<td id="Bi_WeeklyMeeting-fo_RequiredDate-<%%VALUE(id)%%>" class="Bi_WeeklyMeeting-fo_RequiredDate"><%%VALUE(fo_RequiredDate)%%></td>
		<td id="Bi_WeeklyMeeting-ot_ap_Review-<%%VALUE(id)%%>" class="Bi_WeeklyMeeting-ot_ap_Review"><%%VALUE(ot_ap_Review)%%></td>
		<td id="Bi_WeeklyMeeting-ot_ap_Approval-<%%VALUE(id)%%>" class="Bi_WeeklyMeeting-ot_ap_Approval"><%%VALUE(ot_ap_Approval)%%></td>
		<td id="Bi_WeeklyMeeting-ot_ap_QC-<%%VALUE(id)%%>" class="Bi_WeeklyMeeting-ot_ap_QC"><%%VALUE(ot_ap_QC)%%></td>
		<td id="Bi_WeeklyMeeting-ot_ap_filed-<%%VALUE(id)%%>" class="Bi_WeeklyMeeting-ot_ap_filed"><%%VALUE(ot_ap_filed)%%></td>
		<td id="Bi_WeeklyMeeting-ot_ap_lastmodified-<%%VALUE(id)%%>" class="Bi_WeeklyMeeting-ot_ap_lastmodified"><%%VALUE(ot_ap_lastmodified)%%></td>
