<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the DeliveryOrder_init() hook (in hooks/DeliveryOrder.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="DeliveryOrder-DOID-<%%VALUE(id)%%>" class="DeliveryOrder-DOID"><%%VALUE(DOID)%%></td>
		<td id="DeliveryOrder-OrderID-<%%VALUE(id)%%>" class="DeliveryOrder-OrderID text-left"><%%VALUE(OrderID)%%></td>
		<td id="DeliveryOrder-fo_Vendor-<%%VALUE(id)%%>" class="DeliveryOrder-fo_Vendor text-left"><%%VALUE(fo_Vendor)%%></td>
		<td id="DeliveryOrder-fo_ShipVia-<%%VALUE(id)%%>" class="DeliveryOrder-fo_ShipVia"><%%VALUE(fo_ShipVia)%%></td>
		<td id="DeliveryOrder-ot_ap_Review-<%%VALUE(id)%%>" class="DeliveryOrder-ot_ap_Review"><%%VALUE(ot_ap_Review)%%></td>
		<td id="DeliveryOrder-ot_ap_Approval-<%%VALUE(id)%%>" class="DeliveryOrder-ot_ap_Approval"><%%VALUE(ot_ap_Approval)%%></td>
		<td id="DeliveryOrder-ot_ap_QC-<%%VALUE(id)%%>" class="DeliveryOrder-ot_ap_QC"><%%VALUE(ot_ap_QC)%%></td>
		<td id="DeliveryOrder-ot_ap_filed-<%%VALUE(id)%%>" class="DeliveryOrder-ot_ap_filed"><%%VALUE(ot_ap_filed)%%></td>
		<td id="DeliveryOrder-ot_ap_lastmodified-<%%VALUE(id)%%>" class="DeliveryOrder-ot_ap_lastmodified"><%%VALUE(ot_ap_lastmodified)%%></td>
