<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the DesignProposal_init() hook (in hooks/DesignProposal.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="DesignProposal-DocconNumber-<%%VALUE(id)%%>" class="DesignProposal-DocconNumber"><%%SELECT%%><%%VALUE(DocconNumber)%%><%%ENDSELECT%%></td>
		<td id="DesignProposal-InquiryID-<%%VALUE(id)%%>" class="DesignProposal-InquiryID"><%%SELECT%%><%%VALUE(InquiryID)%%><%%ENDSELECT%%></td>
		<td id="DesignProposal-fo_Type-<%%VALUE(id)%%>" class="DesignProposal-fo_Type"><%%SELECT%%><%%VALUE(fo_Type)%%><%%ENDSELECT%%></td>
		<td id="DesignProposal-fo_Intro-<%%VALUE(id)%%>" class="DesignProposal-fo_Intro"><%%SELECT%%><%%VALUE(fo_Intro)%%><%%ENDSELECT%%></td>
		<td id="DesignProposal-fo_RecSub-<%%VALUE(id)%%>" class="DesignProposal-fo_RecSub"><%%SELECT%%><%%VALUE(fo_RecSub)%%><%%ENDSELECT%%></td>
		<td id="DesignProposal-fo_Price-<%%VALUE(id)%%>" class="DesignProposal-fo_Price text-left"><%%SELECT%%><%%VALUE(fo_Price)%%><%%ENDSELECT%%></td>
		<td id="DesignProposal-ot_ap_Review-<%%VALUE(id)%%>" class="DesignProposal-ot_ap_Review"><%%SELECT%%><%%VALUE(ot_ap_Review)%%><%%ENDSELECT%%></td>
		<td id="DesignProposal-ot_ap_Approval-<%%VALUE(id)%%>" class="DesignProposal-ot_ap_Approval"><%%SELECT%%><%%VALUE(ot_ap_Approval)%%><%%ENDSELECT%%></td>
		<td id="DesignProposal-ot_ap_QC-<%%VALUE(id)%%>" class="DesignProposal-ot_ap_QC"><%%SELECT%%><%%VALUE(ot_ap_QC)%%><%%ENDSELECT%%></td>
		<td id="DesignProposal-ot_ap_filed-<%%VALUE(id)%%>" class="DesignProposal-ot_ap_filed"><%%SELECT%%><%%VALUE(ot_ap_filed)%%><%%ENDSELECT%%></td>
		<td id="DesignProposal-ot_ap_lastmodified-<%%VALUE(id)%%>" class="DesignProposal-ot_ap_lastmodified"><%%SELECT%%><%%VALUE(ot_ap_lastmodified)%%><%%ENDSELECT%%></td>
