<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the DrillNInspection_init() hook (in hooks/DrillNInspection.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="DrillNInspection-DillID-<%%VALUE(id)%%>" class="DrillNInspection-DillID"><%%VALUE(DillID)%%></td>
		<td id="DrillNInspection-ccpID-<%%VALUE(id)%%>" class="DrillNInspection-ccpID text-left"><%%VALUE(ccpID)%%></td>
		<td id="DrillNInspection-fo_Classification-<%%VALUE(id)%%>" class="DrillNInspection-fo_Classification"><%%VALUE(fo_Classification)%%></td>
		<td id="DrillNInspection-fo_RequiredDate-<%%VALUE(id)%%>" class="DrillNInspection-fo_RequiredDate"><%%VALUE(fo_RequiredDate)%%></td>
		<td id="DrillNInspection-ot_ap_Review-<%%VALUE(id)%%>" class="DrillNInspection-ot_ap_Review"><%%VALUE(ot_ap_Review)%%></td>
		<td id="DrillNInspection-ot_ap_Approval-<%%VALUE(id)%%>" class="DrillNInspection-ot_ap_Approval"><%%VALUE(ot_ap_Approval)%%></td>
		<td id="DrillNInspection-ot_ap_QC-<%%VALUE(id)%%>" class="DrillNInspection-ot_ap_QC"><%%VALUE(ot_ap_QC)%%></td>
		<td id="DrillNInspection-ot_ap_filed-<%%VALUE(id)%%>" class="DrillNInspection-ot_ap_filed"><%%VALUE(ot_ap_filed)%%></td>
		<td id="DrillNInspection-ot_ap_lastmodified-<%%VALUE(id)%%>" class="DrillNInspection-ot_ap_lastmodified"><%%VALUE(ot_ap_lastmodified)%%></td>
