<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the membership_company_init() hook (in hooks/membership_company.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="membership_company-fo_Name-<%%VALUE(compID)%%>" class="membership_company-fo_Name"><%%VALUE(fo_Name)%%></td>
		<td id="membership_company-fo_RegistrationID-<%%VALUE(compID)%%>" class="membership_company-fo_RegistrationID"><%%VALUE(fo_RegistrationID)%%></td>
		<td id="membership_company-fo_Logo-<%%VALUE(compID)%%>" class="membership_company-fo_Logo"><a href="<%%TRANSLATION(ImageFolder)%%><%%VALUE(fo_Logo)%%>" data-lightbox="membership_company-fo_Logo"><img src="thumbnail.php?i=<%%VALUE(fo_Logo)%%>&t=membership_company&f=fo_Logo&v=tv" class="img-thumbnail"></a></td>
		<td id="membership_company-fo_Address-<%%VALUE(compID)%%>" class="membership_company-fo_Address"><%%VALUE(fo_Address)%%></td>
		<td id="membership_company-fo_City-<%%VALUE(compID)%%>" class="membership_company-fo_City"><%%VALUE(fo_City)%%></td>
		<td id="membership_company-fo_Phone_1-<%%VALUE(compID)%%>" class="membership_company-fo_Phone_1"><%%VALUE(fo_Phone_1)%%></td>
		<td id="membership_company-fo_Email-<%%VALUE(compID)%%>" class="membership_company-fo_Email"><a href="mailto:<%%VALUE(fo_Email)%%>" title="<%%VALUE(fo_Email)%%>" class="btn btn-outline-plain"><i class="glyphicon glyphicon-envelope text-info"></i></a></td>
		<td id="membership_company-ot_ap_filed-<%%VALUE(compID)%%>" class="membership_company-ot_ap_filed"><%%VALUE(ot_ap_filed)%%></td>
		<td id="membership_company-ot_ap_lastmodified-<%%VALUE(compID)%%>" class="membership_company-ot_ap_lastmodified"><%%VALUE(ot_ap_lastmodified)%%></td>
