<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the MWOpreventive_init() hook (in hooks/MWOpreventive.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="MWOpreventive-PreventiveID-<%%VALUE(id)%%>" class="MWOpreventive-PreventiveID"><%%SELECT%%><%%VALUE(PreventiveID)%%><%%ENDSELECT%%></td>
		<td id="MWOpreventive-MwoID-<%%VALUE(id)%%>" class="MWOpreventive-MwoID text-left"><%%SELECT%%><%%VALUE(MwoID)%%><%%ENDSELECT%%></td>
		<td id="MWOpreventive-fo_EmployeeID-<%%VALUE(id)%%>" class="MWOpreventive-fo_EmployeeID"><%%SELECT%%><%%VALUE(fo_EmployeeID)%%><%%ENDSELECT%%></td>
		<td id="MWOpreventive-fo_Position-<%%VALUE(id)%%>" class="MWOpreventive-fo_Position"><%%SELECT%%><%%VALUE(fo_Position)%%><%%ENDSELECT%%></td>
		<td id="MWOpreventive-ot_ap_Review-<%%VALUE(id)%%>" class="MWOpreventive-ot_ap_Review"><%%SELECT%%><%%VALUE(ot_ap_Review)%%><%%ENDSELECT%%></td>
		<td id="MWOpreventive-ot_ap_Approval-<%%VALUE(id)%%>" class="MWOpreventive-ot_ap_Approval"><%%SELECT%%><%%VALUE(ot_ap_Approval)%%><%%ENDSELECT%%></td>
		<td id="MWOpreventive-ot_ap_QC-<%%VALUE(id)%%>" class="MWOpreventive-ot_ap_QC"><%%SELECT%%><%%VALUE(ot_ap_QC)%%><%%ENDSELECT%%></td>
		<td id="MWOpreventive-ot_ap_filed-<%%VALUE(id)%%>" class="MWOpreventive-ot_ap_filed"><%%SELECT%%><%%VALUE(ot_ap_filed)%%><%%ENDSELECT%%></td>
		<td id="MWOpreventive-ot_ap_lastmodified-<%%VALUE(id)%%>" class="MWOpreventive-ot_ap_lastmodified"><%%SELECT%%><%%VALUE(ot_ap_lastmodified)%%><%%ENDSELECT%%></td>
