<!-- Edit this file to change the layout of the detail view form -->
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="#">Project</a></li>
		<li class="breadcrumb-item"><a href="#">Project Register</a></li>
		<li class="breadcrumb-item"><a href="#">Project Register Detail</a></li>
		<!-- <li class="breadcrumb-item"><a href="#">Project Register Edit</a></li> -->
	</ol>
</nav>
<a name="detail-view"></a>
<div class="panel-heading">
	<!-- <div class="form-group">
	<hr class="hidden-md hidden-lg"> -->
	
	<!-- </div> -->

</div>
<!-- </div> -->

<div class="panel-body" id="projects_dv_container">
	<div class="form-group row">
		<label for="Name" class="control-label col-lg-2">Project title <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#Name-description"></i></label>
		<div class="col-lg-10">
			<span class="help-block collapse" id="Name-description">
				<div class="alert alert-info">Title for the project</div>
			</span>

			<input maxlength="250" type="text" class="form-control" name="Name" id="Name" value="<%%VALUE(Name)%%>">
		</div>
	</div>

	<div class="form-group row">
		<label for="Id" class="control-label col-lg-2">ID</label>
		<div class="col-lg-10">
			<div class="form-control-static" id="Id">
				<%%VALUE(Id)%%>
			</div>
		</div>
	</div>


	<div class="form-group row">
		<label for="projectID" class="control-label col-lg-2">Project ID<span class="text-danger">
				<%%TRANSLATION(*)%%>
			</span> <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse"
				data-target="#projectID-description"></i></label>
		<div class="col-lg-10">
			<span class="help-block collapse" id="projectID-description">
				<div class="alert alert-info">Record identification</div>
			</span>

			<input maxlength="200" type="text" class="form-control" name="projectID" id="projectID"
				value="<%%VALUE(projectID)%%>" required>
			<div class="text-danger vspacer-md" id="projectID-uniqueness-note" style="display: none;">
				<%%TRANSLATION(unique field error)%%>
			</div>
		</div>
	</div>
	<!-- <ul class="nav nav-tabs customtab2 d-block" role="tablist" aria-label="Basic example">
		<li class="nav-item"> <a class="nav-link active" data-target="#carouselDetail" data-slide-to="0" role="tab"><span class="hidden-sm-up"></span> <span class="hidden-xs-down">Description</span></a> </li>
		<li class="nav-item"> <a class="nav-link" data-target="#carouselDetail" data-slide-to="1" role="tab"><span class="hidden-sm-up"></span> <span class="hidden-xs-down">Attachment</span></a> </li>
		<li class="nav-item"> <a class="nav-link" data-target="#carouselDetail" data-slide-to="2" role="tab"><span class="hidden-sm-up"></span> <span class="hidden-xs-down">Review</span></a> </li>
	</ul> -->
	<ul class="nav nav-tabs customtab2 d-block w-100" role="tablist">
		<li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#Description" role="tab"><span class="hidden-sm-up"></span> <span class="hidden-xs-down">Description</span></a> </li>
		<li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#Attachment" role="tab"><span class="hidden-sm-up"></span> <span class="hidden-xs-down">Attachment</span></a> </li>
		<li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#Review" role="tab"><span class="hidden-sm-up"></span> <span class="hidden-xs-down">Review</span></a> </li>
	</ul>

	<!-- <div class="btn-group" role="group" aria-label="Basic example">
		<button type="button" class="btn btn-secondary" data-target="#carouselDetail" data-slide-to="0"
			class="active">Description</button>
		<button type="button" class="btn btn-secondary" data-target="#carouselDetail"
			data-slide-to="1">Attachment</button>
		<button type="button" class="btn btn-secondary" data-target="#carouselDetail" data-slide-to="2">Review</button>
	</div> -->
	<!-- child links -->
		<div class="col-xs-12">
			<input type="hidden" id="LogisticRequest_hclink"
				value="LogisticRequest_view.php?filterer_fo_ProjectID=<%%URLVALUE(Id)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="orders_hclink"
				value="orders_view.php?filterer_fo_ProjectID=<%%URLVALUE(Id)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="StakeholderSatisfaction_hclink"
				value="StakeholderSatisfaction_view.php?filterer_fo_ProjectId=<%%URLVALUE(Id)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="PROInitiation_hclink"
				value="PROInitiation_view.php?filterer_ProjectsID=<%%URLVALUE(Id)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="PROPlanning_hclink"
				value="PROPlanning_view.php?filterer_ProjectsID=<%%URLVALUE(Id)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="PROExecution_hclink"
				value="PROExecution_view.php?filterer_ProjectsID=<%%URLVALUE(Id)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="PROControlMonitoring_hclink"
				value="PROControlMonitoring_view.php?filterer_ProjectsID=<%%URLVALUE(Id)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="PROVariation_hclink"
				value="PROVariation_view.php?filterer_ProjectsID=<%%URLVALUE(Id)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="PROCompletion_hclink"
				value="PROCompletion_view.php?filterer_ProjectsID=<%%URLVALUE(Id)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="Receivables_hclink"
				value="Receivables_view.php?filterer_ProjectsID=<%%URLVALUE(Id)%%>&<%%EMBEDDED%%>">
			<div class="clearfix"></div>
		</div>
	
	<div class="tab-content w-100">
		<div class="tab-pane p-t-30 active show" id="Description" role="tabpanel">
			<div class="form-group row">
				<hr class="hidden-md hidden-lg">
				<label for="fo_ProjectIndication" class="control-label col-lg-2">Project Tier<span
						class="text-danger">
						<%%TRANSLATION(*)%%>
					</span> <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse"
						data-target="#fo_ProjectIndication-description"></i></label>
				<div class="col-lg-10">
					<span class="help-block collapse" id="fo_ProjectIndication-description">
						<div class="alert alert-info">Contractor level of execution</div>
					</span>

					<%%COMBO(fo_ProjectIndication)%%>
				</div>
			</div>

			<div class="form-group row">
				<hr class="hidden-md hidden-lg">
				<label for="fo_DocumentDescription" class="control-label col-lg-2">Description<span
						class="text-danger">
						<%%TRANSLATION(*)%%>
					</span> <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse"
						data-target="#fo_DocumentDescription-description"></i></label>
				<div class="col-lg-10">
					<span class="help-block collapse" id="fo_DocumentDescription-description">
						<div class="alert alert-info">Description of Reference</div>
					</span>

					<textarea class="form-control" name="fo_DocumentDescription"
						id="fo_DocumentDescription"
						rows="5"><%%VALUE(fo_DocumentDescription)%%></textarea>
				</div>
			</div>

			<div class="form-group row">
				<hr class="hidden-md hidden-lg">
				<label for="fo_StartDate" class="control-label col-lg-2">Start Date</label>
				<div class="col-lg-10">
					<%%COMBO(fo_StartDate)%%>
				</div>
			</div>

			<div class="form-group row">
				<hr class="hidden-md hidden-lg">
				<label for="fo_EndDate" class="control-label col-lg-2">End Date</label>
				<div class="col-lg-10">
					<%%COMBO(fo_EndDate)%%>
				</div>
			</div>

			<div class="form-group row">
				<hr class="hidden-md hidden-lg">
				<label for="ot_FileLoc" class="control-label col-lg-2">File Location & Number</label>
				<div class="col-lg-10">
					<input maxlength="100" type="text" class="form-control" name="ot_FileLoc"
						id="ot_FileLoc" value="<%%VALUE(ot_FileLoc)%%>">
				</div>
			</div>

			<div class="form-group row">
				<hr class="hidden-md hidden-lg">
				<label for="ot_otherdetails" class="control-label col-lg-2">Other details</label>
				<div class="col-lg-10">
					<textarea class="form-control" name="ot_otherdetails" id="ot_otherdetails"
						rows="5"><%%VALUE(ot_otherdetails)%%></textarea>
				</div>
			</div>

			<div class="form-group row">
				<hr class="hidden-md hidden-lg">
				<label for="ot_comments" class="control-label col-lg-2">Comments</label>
				<div class="col-lg-10">
					<%%HTMLAREA(ot_comments)%%>
				</div>
			</div>
		</div>
		<div class="tab-pane panel-body p-t-30" id="Attachment" role="tabpanel">
			<div class="form-group row">
				<label class="control-label col-lg-2">Shared Link<div class="text-muted">Attached <span id="totalLinkAttached"></span>/2</div></label>
				<div class="col-lg-10">
						<!-- <div class="col-md-1">
							<a id="ot_SharedLink1-link"
								href="link.php?t=projects&f=ot_SharedLink1&i=<%%VALUE(Id)%%>"
								target="_blank"><i class="glyphicon glyphicon-globe"
									title="<%%VALUE(ot_SharedLink1)%%>"
									style="font-size: x-large; top: .35em;"></i></a>
						</div> -->
						<!-- <script>jQuery(function () { /* */ var e_ot_SharedLink1 = '<%%VALUE(ot_SharedLink1)%%>'; if (e_ot_SharedLink1 == '' || e_ot_SharedLink1 == '&nbsp;' || e_ot_SharedLink1 == 'blank.gif') jQuery('#ot_SharedLink1-link').hide(); });</script> -->
						<input maxlength="200" placeholder="Place Link here" type="text"
							class="form-control collapse m-b-5" name="ot_SharedLink1" id="ot_SharedLink1"
							value="<%%VALUE(ot_SharedLink1)%%>">
						<button type="button" class="btn btn-sm btn-outline-danger m-b-5"
							id="ot_SharedLink1_remove">Remove</button>
						<input maxlength="200" placeholder="Place Link here" type="text"
							class="form-control collapse m-b-5" name="ot_SharedLink2" id="ot_SharedLink2"
							value="<%%VALUE(ot_SharedLink2)%%>">
						<button type="button" class="btn  btn-sm btn-outline-danger m-b-5"
							id="ot_SharedLink2_remove">Remove</button>

						<button type="button" class="btn btn-circle btn-sm btn-light btn-block mx-auto" id="addLink"><i class="fa fa-plus" aria-hidden="true"></i></button>

				</div>
			</div>

			<div class="form-group row">
				<label class="control-label col-lg-2">Document<div class="text-muted">Attached <span id="totalLinkAttached"></span>/3</div></label>
				<div class="col-lg-10">
					<a id="ot_Ref01-link" href="link.php?t=projects&f=ot_Ref01&i=<%%VALUE(Id)%%>"
						target="_blank">
						<%%VALUE(ot_Ref01)%%>
					</a>
					<script>jQuery(function () { /* */ var e_ot_Ref01 = '<%%VALUE(ot_Ref01)%%>'; if (e_ot_Ref01 == '' || e_ot_Ref01 == '&nbsp;' || e_ot_Ref01 == 'blank.gif') jQuery('#ot_Ref01-link').hide(); });</script>

					<div style="overflow-x: hidden;font-size: small;">
						<div class="hidden-md hidden-lg vspacer-lg"></div>
						<%%UPLOADFILE(ot_Ref01)%%>
							<%%REMOVEFILE(ot_Ref01)%%>
					</div>

					<!------>

					<a id="ot_Ref02-link" href="link.php?t=projects&f=ot_Ref02&i=<%%VALUE(Id)%%>"
						target="_blank">
						<%%VALUE(ot_Ref02)%%>
					</a>
					<script>jQuery(function () { /* */ var e_ot_Ref02 = '<%%VALUE(ot_Ref02)%%>'; if (e_ot_Ref02 == '' || e_ot_Ref02 == '&nbsp;' || e_ot_Ref02 == 'blank.gif') jQuery('#ot_Ref02-link').hide(); });</script>

					<div style="overflow-x: hidden;font-size: small;">
						<div class="hidden-md hidden-lg vspacer-lg"></div>
						<%%UPLOADFILE(ot_Ref02)%%>
							<%%REMOVEFILE(ot_Ref02)%%>
					</div>

					<!------>

					<a id="ot_Ref03-link" href="link.php?t=projects&f=ot_Ref03&i=<%%VALUE(Id)%%>"
						target="_blank">
						<%%VALUE(ot_Ref03)%%>
					</a>
					<script>jQuery(function () { /* */ var e_ot_Ref03 = '<%%VALUE(ot_Ref03)%%>'; if (e_ot_Ref03 == '' || e_ot_Ref03 == '&nbsp;' || e_ot_Ref03 == 'blank.gif') jQuery('#ot_Ref03-link').hide(); });</script>

					<div style="overflow-x: hidden;font-size: small;">
						<div class="hidden-md hidden-lg vspacer-lg"></div>
						<%%UPLOADFILE(ot_Ref03)%%>
							<%%REMOVEFILE(ot_Ref03)%%>
					</div>
					<button type="button" class="btn btn-circle btn-sm btn-light btn-block mx-auto" id="addDocument"><i class="fa fa-plus" aria-hidden="true"></i></button>
					<p class="control-label text-muted">Maximum file size allowed: 64000KB.<br>Allowed file types: txt, doc, docx, docm, odt, pdf, rtf</p>

				</div>
			</div>

			<div class="form-group row">
				<label class="control-label col-lg-2">Compressed Folder<div class="text-muted">Attached <span id="totalCompFolderAttached"></span>/3</div></label>
				<div class="col-lg-10">
					<a id="ot_Ref04-link" href="link.php?t=projects&f=ot_Ref04&i=<%%VALUE(Id)%%>"
						target="_blank">
						<%%VALUE(ot_Ref04)%%>
					</a>
					<script>jQuery(function () { /* */ var e_ot_Ref04 = '<%%VALUE(ot_Ref04)%%>'; if (e_ot_Ref04 == '' || e_ot_Ref04 == '&nbsp;' || e_ot_Ref04 == 'blank.gif') jQuery('#ot_Ref04-link').hide(); });</script>

					<div style="overflow-x: hidden;font-size: small;">
						<div class="hidden-md hidden-lg vspacer-lg"></div>
						<%%UPLOADFILE(ot_Ref04)%%>
							<%%REMOVEFILE(ot_Ref04)%%>
					</div>

					<!------>

					<a id="ot_Ref05-link" href="link.php?t=projects&f=ot_Ref05&i=<%%VALUE(Id)%%>"
						target="_blank">
						<%%VALUE(ot_Ref05)%%>
					</a>
					<script>jQuery(function () { /* */ var e_ot_Ref05 = '<%%VALUE(ot_Ref05)%%>'; if (e_ot_Ref05 == '' || e_ot_Ref05 == '&nbsp;' || e_ot_Ref05 == 'blank.gif') jQuery('#ot_Ref05-link').hide(); });</script>

					<div style="overflow-x: hidden;font-size: small;">
						<div class="hidden-md hidden-lg vspacer-lg"></div>
						<%%UPLOADFILE(ot_Ref05)%%>
							<%%REMOVEFILE(ot_Ref05)%%>
					</div>

					<!------>

					<a id="ot_Ref06-link" href="link.php?t=projects&f=ot_Ref06&i=<%%VALUE(Id)%%>"
						target="_blank">
						<%%VALUE(ot_Ref06)%%>
					</a>
					<script>jQuery(function () { /* */ var e_ot_Ref06 = '<%%VALUE(ot_Ref06)%%>'; if (e_ot_Ref06 == '' || e_ot_Ref06 == '&nbsp;' || e_ot_Ref06 == 'blank.gif') jQuery('#ot_Ref06-link').hide(); });</script>

					<div style="overflow-x: hidden;font-size: small;">
						<div class="hidden-md hidden-lg vspacer-lg"></div>
						<%%UPLOADFILE(ot_Ref06)%%>
							<%%REMOVEFILE(ot_Ref06)%%>
					</div>
					<button type="button" class="btn btn-circle btn-sm btn-light btn-block mx-auto" id="addCompFolder"><i class="fa fa-plus" aria-hidden="true"></i></button>

					<br />
					<p class="control-label text-muted">Maximum file size allowed: 64000KB.<br>Allowed file types: zip, rar, gz, tar, iso</p>

				</div>
			</div>

			<div class="form-group row">
				<label class="control-label col-lg-2">Photo<div class="text-muted">Attached <span id="totalLinkAttached"></span>/3</div></label>
				<div class="col-lg-10">
					<a id="ot_Photo01-link"
						href="link.php?t=projects&f=ot_Photo01&i=<%%VALUE(Id)%%>" target="_blank">
						<%%VALUE(ot_Photo01)%%>
					</a>
					<script>jQuery(function () { /* */ var e_ot_Photo01 = '<%%VALUE(ot_Photo01)%%>'; if (e_ot_Photo01 == '' || e_ot_Photo01 == '&nbsp;' || e_ot_Photo01 == 'blank.gif') jQuery('#ot_Photo01-link').hide(); });</script>

					<div style="overflow-x: hidden;font-size: small;">
						<div class="hidden-md hidden-lg vspacer-lg"></div>
						<%%UPLOADFILE(ot_Photo01)%%>
							<%%REMOVEFILE(ot_Photo01)%%>
					</div>

					<!------>

					<a id="ot_Photo02-link"
						href="link.php?t=projects&f=ot_Photo02&i=<%%VALUE(Id)%%>" target="_blank">
						<%%VALUE(ot_Photo02)%%>
					</a>
					<script>jQuery(function () { /* */ var e_ot_Photo02 = '<%%VALUE(ot_Photo02)%%>'; if (e_ot_Photo02 == '' || e_ot_Photo02 == '&nbsp;' || e_ot_Photo02 == 'blank.gif') jQuery('#ot_Photo02-link').hide(); });</script>

					<div style="overflow-x: hidden;font-size: small;">
						<div class="hidden-md hidden-lg vspacer-lg"></div>
						<%%UPLOADFILE(ot_Photo02)%%>
							<%%REMOVEFILE(ot_Photo02)%%>
					</div>

					<!------>

					<a id="ot_Photo03-link"
						href="link.php?t=projects&f=ot_Photo03&i=<%%VALUE(Id)%%>" target="_blank">
						<%%VALUE(ot_Photo03)%%>
					</a>
					<script>jQuery(function () { /* */ var e_ot_Photo03 = '<%%VALUE(ot_Photo03)%%>'; if (e_ot_Photo03 == '' || e_ot_Photo03 == '&nbsp;' || e_ot_Photo03 == 'blank.gif') jQuery('#ot_Photo03-link').hide(); });</script>

					<div style="overflow-x: hidden;font-size: small;">
						<div class="hidden-md hidden-lg vspacer-lg"></div>
						<%%UPLOADFILE(ot_Photo03)%%>
							<%%REMOVEFILE(ot_Photo03)%%>
					</div>
					<button type="button" class="btn btn-circle btn-sm btn-light btn-block mx-auto" id="addPhoto"><i class="fa fa-plus" aria-hidden="true"></i></button>
					<br />
					<p class="control-label text-muted">Maximum file size allowed: 10000KB.<br>Allowed file types: jpg, jpeg, gif, png</label>

				</div>
			</div>
		</div>
		<div class="tab-pane p-t-30" id="Review" role="tabpanel">
			<div class="form-group row">
				<hr class="hidden-md hidden-lg">
				<label for="ot_ap_Review" class="control-label col-lg-3"
					data-parent_link="view_parent_modal">Review</label>
				<div class="col-lg-9">
					<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;">
						<%%COMBO(ot_ap_Review)%%>
					</div>
				</div>
			</div>

			<div class="form-group row">
				<hr class="hidden-md hidden-lg">
				<label for="ot_ap_RevComment" class="control-label col-lg-3">Review Comment</label>
				<div class="col-lg-9">
					<textarea class="form-control" name="ot_ap_RevComment" id="ot_ap_RevComment"
						rows="5"><%%VALUE(ot_ap_RevComment)%%></textarea>
				</div>
			</div>

			<div class="form-group row">
				<hr class="hidden-md hidden-lg">
				<label for="ot_ap_Approval" class="control-label col-lg-3"
					data-parent_link="view_parent_modal">Approval</label>
				<div class="col-lg-9">
					<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;">
						<%%COMBO(ot_ap_Approval)%%>
					</div>
				</div>
			</div>

			<div class="form-group row">
				<hr class="hidden-md hidden-lg">
				<label for="ot_ap_ApprComment" class="control-label col-lg-3">Approval Comment</label>
				<div class="col-lg-9">
					<textarea class="form-control" name="ot_ap_ApprComment" id="ot_ap_ApprComment"
						rows="5"><%%VALUE(ot_ap_ApprComment)%%></textarea>
				</div>
			</div>

			<div class="form-group row">
				<hr class="hidden-md hidden-lg">
				<label for="ot_ap_QC" class="control-label col-lg-3"
					data-parent_link="view_parent_modal">IMS Control</label>
				<div class="col-lg-9">
					<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;">
						<%%COMBO(ot_ap_QC)%%>
					</div>
				</div>
			</div>

			<div class="form-group row">
				<hr class="hidden-md hidden-lg">
				<label for="ot_ap_QCComment" class="control-label col-lg-3">IMS Control Comment</label>
				<div class="col-lg-9">
					<textarea class="form-control" name="ot_ap_QCComment" id="ot_ap_QCComment"
						rows="5"><%%VALUE(ot_ap_QCComment)%%></textarea>
				</div>
			</div>
		</div>
	</div>
	
	<!-- form inputs -->
	<!-- <div class="col-md-8 col-lg-10" id="projects_dv_form">
			<fieldset class="form-horizontal">

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="ot_ap_filed" class="control-label col-lg-3">Filed <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#ot_ap_filed-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="ot_ap_filed-description"><div class="alert alert-info">This field is automatically populated with the date and time when this record was created.</div></span>

						<div class="form-control-static" id="ot_ap_filed"><%%VALUE(ot_ap_filed)%%></div>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="ot_ap_lastmodified" class="control-label col-lg-3">Last modified <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#ot_ap_lastmodified-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="ot_ap_lastmodified-description"><div class="alert alert-info">This field is automatically populated with the date and time when this record was last modified.</div></span>

						<div class="form-control-static" id="ot_ap_lastmodified"><%%VALUE(ot_ap_lastmodified)%%></div>
					</div>
				</div>

			</fieldset>
		</div> -->

	<!-- DV action buttons -->
	<hr class="hidden-md hidden-lg">
	<!-- <div class="col-md-4 col-lg-2" id="projects_dv_action_buttons">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DVPRINT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div> -->
</div>


<!-- child records -->
<div class="panel-body">
	<div id="projects-children" class="children-tabs"></div>
</div>

</div><!-- /div class="panel-body" -->
<script src="nicEdit.js"></script>
<script>

	$j(function () {
		{
			var _x = $j('#totalLinkAttached').html();
			if (!_x) {
				_x = 0;
			}

			if ($j('#ot_SharedLink1').val().length > 0) {
				_x++;
			}

			if ($j('#ot_SharedLink2').val().length > 0) {
				_x++;
			} else {
				$j('#ot_SharedLink2').hide();
				$j('#ot_SharedLink2_remove').hide();
			}

			$j('#totalLinkAttached').html(_x);

			$j('#ot_SharedLink1').on("change paste keyup", function () {
				var x = 0;
				if ($j('#ot_SharedLink1').val().length > 0) {
					x++;
				}
				if ($j('#ot_SharedLink2').val().length > 0) {
					x++;
				}
				$j('#totalLinkAttached').html(x);
			});
			$j('#ot_SharedLink2').on("change paste keyup", function () {
				var x = 0;
				if ($j('#ot_SharedLink1').val().length > 0) {
					x++;
				}
				if ($j('#ot_SharedLink2').val().length > 0) {
					x++;
				}
				$j('#totalLinkAttached').html(x);
			});
			$j('#ot_SharedLink1_remove').click(function () {
				var x = $j('#totalLinkAttached').html();
				if (!x) {
					x = 0;
				}
				if ($j('#ot_SharedLink1').val().length > 0 && $j('#ot_SharedLink2').val().length > 0) {
					$j('#ot_SharedLink1').val('');
					$j("#ot_SharedLink1").hide();
					$j('#ot_SharedLink1_remove').hide();
					$j("#addLink").show()
					x--;
				} else if ($j('#ot_SharedLink1').val().length > 0 && $j('#ot_SharedLink2').val().length == 0) {
					$j('#ot_SharedLink1').val('');
					x--;
				} else if ($j('#ot_SharedLink1').val().length == 0 && $j('#ot_SharedLink2').val().length == 0) {
					$j("#ot_SharedLink1").hide();
					$j('#ot_SharedLink1_remove').hide();
					$j("#addLink").show();
				}
				$j('#totalLinkAttached').html(x);
			});
			$j('#ot_SharedLink2_remove').click(function () {
				var x = $j('#totalLinkAttached').html();
				if (!x) {
					x = 0;
				}
				if ($j('#ot_SharedLink1').val().length > 0 && $j('#ot_SharedLink2').val().length > 0) {
					$j('#ot_SharedLink2').val('');
					$j("#ot_SharedLink2").hide();
					$j('#ot_SharedLink2_remove').hide();
					$j("#addLink").show();
					x--;
				} else if ($j('#ot_SharedLink1').val().length == 0 && $j('#ot_SharedLink2').val().length > 0) {
					$j('#ot_SharedLink2').val('');
					x--;
				} else if ($j('#ot_SharedLink1').val().length == 0 && $j('#ot_SharedLink2').val().length == 0) {
					$j("#ot_SharedLink2").hide();
					$j('#ot_SharedLink2_remove').hide();
					$j("#addLink").show();
				}
				$j('#totalLinkAttached').html(x);
			});
			$j("#addLink").click(function () {

				if (!$j("#ot_SharedLink1").is(":visible")) {
					$j("#ot_SharedLink1").show();
					$j('#ot_SharedLink1_remove').show();
				} else if (!$j("#ot_SharedLink2").is(":visible")) {
					$j("#ot_SharedLink2").show();
					$j('#ot_SharedLink2_remove').show();
				}

				if ($j("#ot_SharedLink1").is(":visible") && $j("#ot_SharedLink2").is(":visible")) {
					$j("#addLink").hide();
				}
			});
		}
		///////////////////////////////////////////////
		{
			var _x = $j('#totalDocumentAttached').html();
			if (!_x) {
				_x = 0;
			}
			if ($j('#ot_Ref01').val().length > 0) {
				_x++;
			}
			if ($j('#ot_Ref02').val().length > 0) {
				_x++;
			} else {
				$j('#ot_Ref02').hide()
			}
			if ($j('#ot_Ref03').val().length > 0) {
				_x++;
			} else {
				$j('#ot_Ref03').hide();
			}
			$j('#totalDocumentAttached').html(_x);

			$j('#ot_Ref01').on("change paste keyup", function () {
				var x = 0;
				if ($j('#ot_Ref01').val().length > 0) {
					x++;
				}
				if ($j('#ot_Ref02').val().length > 0) {
					x++;
				}
				$j('#totalDocumentAttached').html(x);
			});
			$j('#ot_Ref02').on("change paste keyup", function () {
				var x = 0;
				if ($j('#ot_Ref01').val().length > 0) {
					x++;
				}
				if ($j('#ot_Ref02').val().length > 0) {
					x++;
				}
				$j('#totalDocumentAttached').html(x);
			});

			$j("#addDocument").click(function () {

				if (!$j("#ot_Ref01").is(":visible")) {
					$j("#ot_Ref01").show();
				} else if (!$j("#ot_Ref02").is(":visible")) {
					$j("#ot_Ref02").show();
				} else if (!$j("#ot_Ref03").is(":visible")) {
					$j("#ot_Ref03").show();
				}

				if ($j("#ot_Ref01").is(":visible") && $j("#ot_Ref02").is(":visible") && $j("#ot_Ref03").is(":visible")) {
					$j("#addDocument").hide();
				}
			});
		}

		///////////////////////////////////////////////

		{
			var _x = $j('#totalCompFolderAttached').html();
			if (!_x) {
				_x = 0;
			}
			if ($j('#ot_Ref04').val().length > 0) {
				_x++;
			}
			if ($j('#ot_Ref05').val().length > 0) {
				_x++;
			} else {
				$j('#ot_Ref05').hide()
			}
			if ($j('#ot_Ref06').val().length > 0) {
				_x++;
			} else {
				$j('#ot_Ref06').hide();
			}
			$j('#totalCompFolderAttached').html(_x);

			$j('#ot_Ref04').on("change paste keyup", function () {
				var x = 0;
				if ($j('#ot_Ref04').val().length > 0) {
					x++;
				}
				if ($j('#ot_Ref05').val().length > 0) {
					x++;
				}
				$j('#totalCompFolderAttached').html(x);
			});
			$j('#ot_Ref05').on("change paste keyup", function () {
				var x = 0;
				if ($j('#ot_Ref04').val().length > 0) {
					x++;
				}
				if ($j('#ot_Ref05').val().length > 0) {
					x++;
				}
				$j('#totalCompFolderAttached').html(x);
			});

			$j("#addCompFolder").click(function () {

				if (!$j("#ot_Ref04").is(":visible")) {
					$j("#ot_Ref04").show();
				} else if (!$j("#ot_Ref05").is(":visible")) {
					$j("#ot_Ref05").show();
				} else if (!$j("#ot_Ref06").is(":visible")) {
					$j("#ot_Ref06").show();
				}

				if ($j("#ot_Ref04").is(":visible") && $j("#ot_Ref05").is(":visible") && $j("#ot_Ref06").is(":visible")) {
					$j("#addCompFolder").hide();
				}
			});
		}

		///////////////////////////////////////////////

		{
			var _x = $j('#totalPhotoAttached').html();
			if (!_x) {
				_x = 0;
			}
			if ($j('#ot_Photo01').val().length > 0) {
				_x++;
			}
			if ($j('#ot_Photo02').val().length > 0) {
				_x++;
			} else {
				$j('#ot_Photo02').hide()
			}
			if ($j('#ot_Photo03').val().length > 0) {
				_x++;
			} else {
				$j('#ot_Photo03').hide();
			}
			$j('#totalPhotoAttached').html(_x);

			$j('#ot_Photo01').on("change paste keyup", function () {
				var x = 0;
				if ($j('#ot_Photo01').val().length > 0) {
					x++;
				}
				if ($j('#ot_Photo02').val().length > 0) {
					x++;
				}
				$j('#totalPhotoAttached').html(x);
			});
			$j('#ot_Photo02').on("change paste keyup", function () {
				var x = 0;
				if ($j('#ot_Photo01').val().length > 0) {
					x++;
				}
				if ($j('#ot_Photo02').val().length > 0) {
					x++;
				}
				$j('#totalPhotoAttached').html(x);
			});

			$j("#addPhoto").click(function () {

				if (!$j("#ot_Photo01").is(":visible")) {
					$j("#ot_Photo01").show();
				} else if (!$j("#ot_Photo02").is(":visible")) {
					$j("#ot_Photo02").show();
				} else if (!$j("#ot_Photo03").is(":visible")) {
					$j("#ot_Photo03").show();
				}

				if ($j("#ot_Photo01").is(":visible") && $j("#ot_Photo02").is(":visible") && $j("#ot_Photo03").is(":visible")) {
					$j("#addPhoto").hide();
				}
			});
		}

		///////////////////////////////////////////////

		var add_new_mode = (!$j('input[name=SelectedID]').val());
		var embedded_mode = ($j('input[name=Embedded]').val() == 1);

		/* auto-close embedded page? */
		var autoclose_mode = ($j('input[name=AutoClose]').val() == 1);
		var record_added_ok = (location.search.split('record-added-ok=').length == 2);
		var record_updated_ok = (location.search.split('record-updated-ok=').length == 2);
		if ((record_added_ok || record_updated_ok) && embedded_mode && autoclose_mode) {
			setTimeout(AppGini.closeParentModal, 2000);
		}

		bkLib.onDomLoaded(function () {
			if ($j('textarea#ot_comments').length) new nicEditor({ fullPanel: true }).panelInstance('ot_comments');

			$j('.nicEdit-panelContain').parent().width('100%');
			$j('.nicEdit-panelContain').parent().next().width('98%');
			$j('.nicEdit-main').width('99%');
		});
		/* enable DV action buttons to float on scrolling down the form */
		enable_dvab_floating();

		if (!(embedded_mode && AppGini.mobileDevice())) {
			$j('select, input[type=text], textarea').not(':disabled').eq(0).focus();
		}

		$j('form').eq(0).change(function () {
			if ($j(this).data('already_changed')) return;
			if ($j('#deselect').length) $j('#deselect').removeClass('btn-default').addClass('btn-warning').get(0).lastChild.data = " <%%TRANSLATION(Cancel)%%>";
			$j(this).data('already_changed', true);
		});

		$j('a[href="<%%TRANSLATION(ImageFolder)%%>"]').click(function () { /* */ return false; });

		if (embedded_mode) {
			/* hide links to children tables in embedded mode */
			$j('.detail_view a[id$=_link]').remove();

			/* append embedded mode to all links */
			var append_embedded = function () {
				$j('a[href]:not([href^="#"]):not([href^="javascript"]):not([href$="Embedded=1"]):not([href*="link.php?t="]):not([href^="mailto:"])').each(
					function () {
						$j(this).attr('href', $j(this).attr('href') + '&Embedded=1');
					}
				);
			}
			setTimeout(append_embedded, 500);
			setTimeout(append_embedded, 1500);
			setTimeout(append_embedded, 2500);
			setTimeout(append_embedded, 3500);
		}

		/* when no record is selected ('add new' mode) */
		if (add_new_mode) {
			/* hide links to children tables */
			$j('.detail_view a[id$=_link]').remove();
		} else {
			post(
				'parent-children.php', {
					ParentTable: 'projects',
					SelectedID: '<%%VALUE(Id)%%>',
					Operation: 'show-children'
				},
				'projects-children'
			);
		}

		if (!embedded_mode) {
			/* add a horizontal spacer to [add new parent] buttons that don't have a spacered element before them */
			$j('.add_new_parent').prev(':not(.hspacer-md)').next().addClass('hspacer-md');

			$j('.add_new_parent').click(function () {
				var pt = $j(this).attr('id').replace(/_add_new$/, '');
				modal_window({
					url: pt + '_view.php?addNew_x=1&Embedded=1',
					close: function () {
						var field_id = $j('#' + pt + '_add_new').prevAll('input:hidden').eq(0).attr('id');
						$j('#' + field_id + '-container').select2('focus').select2('focus');
					},
					size: 'full',
					title: $j(this).attr('title')
				});
			});
		}

		AppGini.hideViewParentLinks();

		$j('form').on('click', '.view_parent', function () {
			var pt = $j(this).attr('id').replace(/_view_parent$/, '');
			if ($j(this).prevAll('input:hidden').length) {
				var parent_id = $j(this).prevAll('input:hidden').eq(0).val();
			} else {
				var parent_id = $j(this).prevAll().children('input:hidden').eq(0).val();
			}

			/* handle radio lookups */
			if ($j(this).prevAll('[type=radio]').length) {
				parent_id = $j(this).prevAll('[type=radio]').eq(0).val();
			}

			if (parent_id != '{empty_value}' && parent_id != undefined && parent_id != '') {
				var parent_link = $j(this).parents('.form-group').children('label').data('parent_link');
				switch (parent_link) {
					case 'view_parent_hidden':
						break;
					case 'view_parent_modal':
						modal_window({
							url: pt + '_view.php?Embedded=1&SelectedID=' + encodeURIComponent(parent_id),
							close: function () {
								var field_id = $j('#' + pt + '_view_parent').prevAll('input:hidden').eq(0).attr('id');
								$j('#' + field_id + '-container').select2('focus').select2('focus');
							},
							size: 'full',
							title: $j(this).attr('title')
						});
						break;
					case 'view_parent_same_window':
						window.location = pt + '_view.php?Embedded=' + (embedded_mode ? '1' : '') + '&SelectedID=' + encodeURIComponent(parent_id);
						break;
					case 'view_parent_new_window':
						window.open(pt + '_view.php?SelectedID=' + encodeURIComponent(parent_id));
						break;
				}

			}
		});

		enforce_uniqueness('projects', 'projectID');

		/* load admin tools for admin user */
		if (!add_new_mode) {
			$j('body').append('<div id="admin-tools-appendix"></div>');
			$j('#admin-tools-appendix').load(
				'ajax_admin_tools.php?table=projects&id=<%%URLVALUE(Id)%%>',
				function (resp) {
					if (!resp.length) return;
					$j.ajax('ajax_admin_tools.php?action=get_admin_tools_js&table=projects&id=<%%URLVALUE(Id)%%>');
				}
			);
		}

		/* warn user if 'add new' clicked while unsaved changes exist */
		$j('#addNew').click(function () {
			if ($j('#deselect.btn-warning').length) {
				return confirm('<%%TRANSLATION(discard changes confirm)%%>');
			}
		});

	});
</script>