<!-- Edit this file to change the layout of the detail view form -->

<a name="detail-view"></a>
<div class="panel-heading"></div>

<div id="SoftboardComment_dv_container">
	<!-- child links -->
	<!-- <div class="row vspacer-md"> -->
		<div class="col-xs-12">
			<div class="clearfix"></div>
		</div>
	<!-- </div> -->
	<!-- <hr class="hidden-xs hidden-sm"> -->


<div id="SoftboardComment_dv_form">
	<!-- <div class="row"> -->
		<div class="tab-content w-100">
				<div class="form-group row">
					<hr class="hidden-md hidden-lg">
					<label for="RunningID" class="control-label col-lg-2">Comment ID</label>
					<div class="col-lg-10">
						<div class="form-control-static" id="RunningID" aria-labelledby="selectedID"><%%VALUE(RunningID)%%></div>
					</div>
				</div>

				<div class="form-group row">
					<hr class="hidden-md hidden-lg">
					<label for="PostID" class="control-label col-lg-2" data-parent_link="view_parent_modal">Commenting on</label>
					<div class="col-lg-10">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(PostID)%%><%%PLINK(PostID)%%><%%ADDNEW(TeamSoftBoard)%%></div>
					</div>
				</div>

				<div class="form-group row">
					<hr class="hidden-md hidden-lg">
					<label for="TextPost" class="control-label col-lg-2">Comment</label>
					<div class="col-lg-10">
						<textarea class="form-control" name="TextPost" id="TextPost" rows="5"><%%VALUE(TextPost)%%></textarea>
					</div>
				</div>
		</div>
<!--
				<div class="form-group row">
					<hr class="hidden-md hidden-lg">
					<label for="filed" class="control-label col-lg-2">Write on <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#filed-description"></i></label>
					<div class="col-lg-10">
						<span class="help-block collapse" id="filed-description"><div class="alert alert-info">This field is automatically populated with the date and time when this record was created.</div></span>

						<div class="form-control-static" id="filed"><% %VALUE(filed)% %></div>
					</div>
				</div>

				<div class="form-group row">
					<hr class="hidden-md hidden-lg">
					<label for="last_modified" class="control-label col-lg-2">Last modified <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#last_modified-description"></i></label>
					<div class="col-lg-10">
						<span class="help-block collapse" id="last_modified-description"><div class="alert alert-info">This field is automatically populated with the date and time when this record was last modified.</div></span>

						<div class="form-control-static" id="last_modified"><% %VALUE(last_modified)% %></div>
					</div>
				</div>

			</fieldset>
		</div>
-->
		<!-- DV action buttons -->
		<hr class="hidden-md hidden-lg">
	<div id="adminActions" class="adminActions"> <!-- <div class="col-md-4 col-lg-2" id="SoftboardComment_dv_action_buttons"> -->
		<input  type="checkbox" name="adminToggle" class="adminToggle" />
		<a class="adminButton" href="#!"><i class="ti-more"></i></a>
		<div class="adminButtons">
			<%%CANCELEDIT_BUTTON%%>
			<%%DESELECT_BUTTON%%>
			<%%DVPRINT_BUTTON%%>
			<%%DELETE_BUTTON%%>
			<%%INSERT_BUTTON%%>
			<%%ATTACH_BUTTON%%>
		</div>
	</div>
	<div class="adminActions"style="right:90px; bottom:40px">
		<%%EDIT_BUTTON%%>
		<%%UPDATE_BUTTON%%>
	</div>
</div>


</div><!-- /div class="panel-body" -->
	<style>
		input[readonly], input[readonly="readonly"] {
			border:unset;
		}

		input[readonly]::-webkit-input-placeholder, input[readonly="readonly"]::-webkit-input-placeholder {
			color:transparent;
		}

		input[readonly]:-ms-input-placeholder, input[readonly="readonly"]:-ms-input-placeholder {  
			color:transparent;
		}

	</style>
	<script>
		$j(function () {
			var add_new_mode = (!$j('input[name=SelectedID]').val());
			var embedded_mode = ($j('input[name=Embedded]').val() == 1);

			/* auto-close embedded page? */
			var autoclose_mode = ($j('input[name=AutoClose]').val() == 1);
			var record_added_ok = (location.search.split('record-added-ok=').length == 2);
			var record_updated_ok = (location.search.split('record-updated-ok=').length == 2);
			if((record_added_ok || record_updated_ok) && embedded_mode && autoclose_mode){
				setTimeout(AppGini.closeParentModal, 2000);
			}

			/* enable DV action buttons to float on scrolling down the form */
			enable_dvab_floating();

			if(!(embedded_mode && AppGini.mobileDevice())){
				$j('select, input[type=text], textarea').not(':disabled').eq(0).focus();
			}


			$j('a[href="<%%TRANSLATION(ImageFolder)%%>"]').click(function(){ /* */ return false; });


			if(!embedded_mode){
				/* add a horizontal spacer to [add new parent] buttons that don't have a spacered element before them */
				$j('.add_new_parent').prev(':not(.hspacer-md)').next().addClass('hspacer-md');

				$j('.add_new_parent').click(function(){
					var pt = $j(this).attr('id').replace(/_add_new$/, '');
					modal_window({
						url: pt + '_view.php?addNew_x=1&Embedded=1',
						close: function(){
							var field_id = $j('#' + pt + '_add_new').prevAll('input:hidden').eq(0).attr('id');
							$j('#' + field_id + '-container').select2('focus').select2('focus');
						},
						size: 'full',
						title: $j(this).attr('title')
					});
				});
			}

			AppGini.hideViewParentLinks();

			$j('form').on('click', '.view_parent', function(){
				var pt = $j(this).attr('id').replace(/_view_parent$/, '');
				if($j(this).prevAll('input:hidden').length){
					var parent_id = $j(this).prevAll('input:hidden').eq(0).val();
				}else{
					var parent_id = $j(this).prevAll().children('input:hidden').eq(0).val();
				}

				/* handle radio lookups */
				if($j(this).prevAll('[type=radio]').length){
					parent_id = $j(this).prevAll('[type=radio]').eq(0).val();
				}

				if(parent_id != '{empty_value}' && parent_id != undefined && parent_id != ''){
					var parent_link = $j(this).parents('.form-group').children('label').data('parent_link');
					switch(parent_link){
						case 'view_parent_hidden':
							break;
						case 'view_parent_modal':
							modal_window({
								url: pt + '_view.php?Embedded=1&SelectedID=' + encodeURIComponent(parent_id),
								close: function(){
									var field_id = $j('#' + pt + '_view_parent').prevAll('input:hidden').eq(0).attr('id');
									$j('#' + field_id + '-container').select2('focus').select2('focus');
								},
								size: 'full',
								title: $j(this).attr('title')
							});
							break;
						case 'view_parent_same_window':
							window.location = pt + '_view.php?Embedded=' + (embedded_mode ? '1' : '') + '&SelectedID=' + encodeURIComponent(parent_id);
							break;
						case 'view_parent_new_window':
							window.open(pt + '_view.php?SelectedID=' + encodeURIComponent(parent_id));
							break;
					}

				}
			});


			/* load admin tools for admin user */
			if (!add_new_mode) {
				$j('#record-heading').append('<span id="admin-tools-appendix"></span>');
				$j('#admin-tools-appendix').load(
					'ajax_admin_tools.php?table=SoftboardComment&id=<%%URLVALUE(RunningID)%%>',
					function(resp){
						if(!resp.length) return;
						$j.ajax('ajax_admin_tools.php?action=get_admin_tools_js&table=SoftboardComment&id=<%%URLVALUE(RunningID)%%>');
					}
				);
			}

			/* warn user if 'add new' clicked while unsaved changes exist */
			$j('#addNew').click(function () {
				if ($j('#deselect.btn-warning').length) {
					return confirm('<%%TRANSLATION(discard changes confirm)%%>');
				}
			});

			/* initialize dropify */
			$j(document).ready(function(){
				var drEvent = [];
				$j('.dropify').each(function(i, e){
					drEvent[i] = $j(e).dropify();
				})
				for(x=0; x<drEvent.length; x++){
					drEvent[x].on('dropify.afterClear', function(event, element){
						calcAttached("attach-documents", "totalDocumentAttached");
						calcAttached("attach-compressed-folders", "totalCompFolderAttached");
						calcAttached("attach-images", "totalPhotoAttached");
					});

					drEvent[x].on('dropify.errors', function(event, element){
						console.log('Dropify ' + element + ' has errors');
					});
				}
			});

		});
	</script>