<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the ERP_init() hook (in hooks/ERP.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="ERP-DocconNumber-<%%VALUE(id)%%>" class="ERP-DocconNumber"><%%VALUE(DocconNumber)%%></td>
		<td id="ERP-BaseLocation-<%%VALUE(id)%%>" class="ERP-BaseLocation"><%%VALUE(BaseLocation)%%></td>
		<td id="ERP-fo_DocItem-<%%VALUE(id)%%>" class="ERP-fo_DocItem"><%%VALUE(fo_DocItem)%%></td>
		<td id="ERP-fo_Classification-<%%VALUE(id)%%>" class="ERP-fo_Classification"><%%VALUE(fo_Classification)%%></td>
		<td id="ERP-fo_Impact-<%%VALUE(id)%%>" class="ERP-fo_Impact"><%%VALUE(fo_Impact)%%></td>
		<td id="ERP-ot_ap_Review-<%%VALUE(id)%%>" class="ERP-ot_ap_Review"><%%VALUE(ot_ap_Review)%%></td>
		<td id="ERP-ot_ap_Approval-<%%VALUE(id)%%>" class="ERP-ot_ap_Approval"><%%VALUE(ot_ap_Approval)%%></td>
		<td id="ERP-ot_ap_QC-<%%VALUE(id)%%>" class="ERP-ot_ap_QC"><%%VALUE(ot_ap_QC)%%></td>
		<td id="ERP-ot_ap_filed-<%%VALUE(id)%%>" class="ERP-ot_ap_filed"><%%VALUE(ot_ap_filed)%%></td>
		<td id="ERP-ot_ap_lastmodified-<%%VALUE(id)%%>" class="ERP-ot_ap_lastmodified"><%%VALUE(ot_ap_lastmodified)%%></td>
