<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the PROExecution_init() hook (in hooks/PROExecution.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="PROExecution-ExecutionNo-<%%VALUE(id)%%>" class="PROExecution-ExecutionNo"><%%SELECT%%><%%VALUE(ExecutionNo)%%><%%ENDSELECT%%></td>
		<td id="PROExecution-ProjectsID-<%%VALUE(id)%%>" class="PROExecution-ProjectsID"><%%SELECT%%><%%VALUE(ProjectsID)%%><%%ENDSELECT%%></td>
		<td id="PROExecution-fo_Classification-<%%VALUE(id)%%>" class="PROExecution-fo_Classification"><%%SELECT%%><%%VALUE(fo_Classification)%%><%%ENDSELECT%%></td>
		<td id="PROExecution-fo_DocItem-<%%VALUE(id)%%>" class="PROExecution-fo_DocItem"><%%SELECT%%><%%VALUE(fo_DocItem)%%><%%ENDSELECT%%></td>
		<td id="PROExecution-fo_Regdate-<%%VALUE(id)%%>" class="PROExecution-fo_Regdate"><%%SELECT%%><%%VALUE(fo_Regdate)%%><%%ENDSELECT%%></td>
		<td id="PROExecution-ot_ap_Review-<%%VALUE(id)%%>" class="PROExecution-ot_ap_Review"><%%SELECT%%><%%VALUE(ot_ap_Review)%%><%%ENDSELECT%%></td>
		<td id="PROExecution-ot_ap_Approval-<%%VALUE(id)%%>" class="PROExecution-ot_ap_Approval"><%%SELECT%%><%%VALUE(ot_ap_Approval)%%><%%ENDSELECT%%></td>
		<td id="PROExecution-ot_ap_QC-<%%VALUE(id)%%>" class="PROExecution-ot_ap_QC"><%%SELECT%%><%%VALUE(ot_ap_QC)%%><%%ENDSELECT%%></td>
		<td id="PROExecution-ot_ap_filed-<%%VALUE(id)%%>" class="PROExecution-ot_ap_filed"><%%SELECT%%><%%VALUE(ot_ap_filed)%%><%%ENDSELECT%%></td>
		<td id="PROExecution-ot_ap_lastmodified-<%%VALUE(id)%%>" class="PROExecution-ot_ap_lastmodified"><%%SELECT%%><%%VALUE(ot_ap_lastmodified)%%><%%ENDSELECT%%></td>
