<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the QA_init() hook (in hooks/QA.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="QA-DocconNumber-<%%VALUE(id)%%>" class="QA-DocconNumber"><%%VALUE(DocconNumber)%%></td>
		<td id="QA-BaseLocation-<%%VALUE(id)%%>" class="QA-BaseLocation"><%%VALUE(BaseLocation)%%></td>
		<td id="QA-fo_DocItem-<%%VALUE(id)%%>" class="QA-fo_DocItem"><%%VALUE(fo_DocItem)%%></td>
		<td id="QA-fo_Class-<%%VALUE(id)%%>" class="QA-fo_Class"><%%VALUE(fo_Class)%%></td>
		<td id="QA-fo_Classification-<%%VALUE(id)%%>" class="QA-fo_Classification"><%%VALUE(fo_Classification)%%></td>
		<td id="QA-fo_Regdate-<%%VALUE(id)%%>" class="QA-fo_Regdate"><%%VALUE(fo_Regdate)%%></td>
		<td id="QA-ot_ap_Review-<%%VALUE(id)%%>" class="QA-ot_ap_Review"><%%VALUE(ot_ap_Review)%%></td>
		<td id="QA-ot_ap_Approval-<%%VALUE(id)%%>" class="QA-ot_ap_Approval"><%%VALUE(ot_ap_Approval)%%></td>
		<td id="QA-ot_ap_QC-<%%VALUE(id)%%>" class="QA-ot_ap_QC"><%%VALUE(ot_ap_QC)%%></td>
		<td id="QA-ot_ap_filed-<%%VALUE(id)%%>" class="QA-ot_ap_filed"><%%VALUE(ot_ap_filed)%%></td>
		<td id="QA-ot_ap_last_modified-<%%VALUE(id)%%>" class="QA-ot_ap_last_modified"><%%VALUE(ot_ap_last_modified)%%></td>
