<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the QuarterlyMeeting_init() hook (in hooks/QuarterlyMeeting.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="QuarterlyMeeting-QmID-<%%VALUE(id)%%>" class="QuarterlyMeeting-QmID"><%%SELECT%%><%%VALUE(QmID)%%><%%ENDSELECT%%></td>
		<td id="QuarterlyMeeting-ccpID-<%%VALUE(id)%%>" class="QuarterlyMeeting-ccpID text-right"><%%SELECT%%><%%VALUE(ccpID)%%><%%ENDSELECT%%></td>
		<td id="QuarterlyMeeting-fo_RequiredDate-<%%VALUE(id)%%>" class="QuarterlyMeeting-fo_RequiredDate"><%%SELECT%%><%%VALUE(fo_RequiredDate)%%><%%ENDSELECT%%></td>
		<td id="QuarterlyMeeting-ot_ap_Review-<%%VALUE(id)%%>" class="QuarterlyMeeting-ot_ap_Review"><%%SELECT%%><%%VALUE(ot_ap_Review)%%><%%ENDSELECT%%></td>
		<td id="QuarterlyMeeting-ot_ap_Approval-<%%VALUE(id)%%>" class="QuarterlyMeeting-ot_ap_Approval"><%%SELECT%%><%%VALUE(ot_ap_Approval)%%><%%ENDSELECT%%></td>
		<td id="QuarterlyMeeting-ot_ap_QC-<%%VALUE(id)%%>" class="QuarterlyMeeting-ot_ap_QC"><%%SELECT%%><%%VALUE(ot_ap_QC)%%><%%ENDSELECT%%></td>
		<td id="QuarterlyMeeting-ot_ap_filed-<%%VALUE(id)%%>" class="QuarterlyMeeting-ot_ap_filed"><%%SELECT%%><%%VALUE(ot_ap_filed)%%><%%ENDSELECT%%></td>
		<td id="QuarterlyMeeting-ot_ap_lastmodified-<%%VALUE(id)%%>" class="QuarterlyMeeting-ot_ap_lastmodified"><%%SELECT%%><%%VALUE(ot_ap_lastmodified)%%><%%ENDSELECT%%></td>
