<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the ContinualImprovement_init() hook (in hooks/ContinualImprovement.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="ContinualImprovement-CAPARno-<%%VALUE(id)%%>" class="ContinualImprovement-CAPARno"><%%SELECT%%><%%VALUE(CAPARno)%%><%%ENDSELECT%%></td>
		<td id="ContinualImprovement-RecTitle-<%%VALUE(id)%%>" class="ContinualImprovement-RecTitle"><%%SELECT%%><%%VALUE(RecTitle)%%><%%ENDSELECT%%></td>
		<td id="ContinualImprovement-fo_Class-<%%VALUE(id)%%>" class="ContinualImprovement-fo_Class"><%%SELECT%%><%%VALUE(fo_Class)%%><%%ENDSELECT%%></td>
		<td id="ContinualImprovement-fo_CAPAR-<%%VALUE(id)%%>" class="ContinualImprovement-fo_CAPAR"><%%SELECT%%><%%VALUE(fo_CAPAR)%%><%%ENDSELECT%%></td>
		<td id="ContinualImprovement-fo_Regdate-<%%VALUE(id)%%>" class="ContinualImprovement-fo_Regdate"><%%SELECT%%><%%VALUE(fo_Regdate)%%><%%ENDSELECT%%></td>
		<td id="ContinualImprovement-ot_ap_Review-<%%VALUE(id)%%>" class="ContinualImprovement-ot_ap_Review"><%%SELECT%%><%%VALUE(ot_ap_Review)%%><%%ENDSELECT%%></td>
		<td id="ContinualImprovement-ot_ap_Approval-<%%VALUE(id)%%>" class="ContinualImprovement-ot_ap_Approval"><%%SELECT%%><%%VALUE(ot_ap_Approval)%%><%%ENDSELECT%%></td>
		<td id="ContinualImprovement-ot_ap_QC-<%%VALUE(id)%%>" class="ContinualImprovement-ot_ap_QC"><%%SELECT%%><%%VALUE(ot_ap_QC)%%><%%ENDSELECT%%></td>
		<td id="ContinualImprovement-ot_ap_filed-<%%VALUE(id)%%>" class="ContinualImprovement-ot_ap_filed"><%%SELECT%%><%%VALUE(ot_ap_filed)%%><%%ENDSELECT%%></td>
		<td id="ContinualImprovement-ot_ap_lastmodified-<%%VALUE(id)%%>" class="ContinualImprovement-ot_ap_lastmodified"><%%SELECT%%><%%VALUE(ot_ap_lastmodified)%%><%%ENDSELECT%%></td>
