<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the DesignProposal_init() hook (in hooks/DesignProposal.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="DesignProposal-DocconNumber-<%%VALUE(id)%%>" class="DesignProposal-DocconNumber"><%%VALUE(DocconNumber)%%></td>
		<td id="DesignProposal-InquiryID-<%%VALUE(id)%%>" class="DesignProposal-InquiryID"><%%VALUE(InquiryID)%%></td>
		<td id="DesignProposal-fo_Type-<%%VALUE(id)%%>" class="DesignProposal-fo_Type"><%%VALUE(fo_Type)%%></td>
		<td id="DesignProposal-fo_Intro-<%%VALUE(id)%%>" class="DesignProposal-fo_Intro"><%%VALUE(fo_Intro)%%></td>
		<td id="DesignProposal-fo_RecSub-<%%VALUE(id)%%>" class="DesignProposal-fo_RecSub"><%%VALUE(fo_RecSub)%%></td>
		<td id="DesignProposal-fo_Price-<%%VALUE(id)%%>" class="DesignProposal-fo_Price text-right"><%%VALUE(fo_Price)%%></td>
		<td id="DesignProposal-ot_ap_Review-<%%VALUE(id)%%>" class="DesignProposal-ot_ap_Review"><%%VALUE(ot_ap_Review)%%></td>
		<td id="DesignProposal-ot_ap_Approval-<%%VALUE(id)%%>" class="DesignProposal-ot_ap_Approval"><%%VALUE(ot_ap_Approval)%%></td>
		<td id="DesignProposal-ot_ap_QC-<%%VALUE(id)%%>" class="DesignProposal-ot_ap_QC"><%%VALUE(ot_ap_QC)%%></td>
		<td id="DesignProposal-ot_ap_filed-<%%VALUE(id)%%>" class="DesignProposal-ot_ap_filed"><%%VALUE(ot_ap_filed)%%></td>
		<td id="DesignProposal-ot_ap_lastmodified-<%%VALUE(id)%%>" class="DesignProposal-ot_ap_lastmodified"><%%VALUE(ot_ap_lastmodified)%%></td>
