<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the InOutRegister_init() hook (in hooks/InOutRegister.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="InOutRegister-RecordNumber-<%%VALUE(id)%%>" class="InOutRegister-RecordNumber"><%%VALUE(RecordNumber)%%></td>
		<td id="InOutRegister-DocItem-<%%VALUE(id)%%>" class="InOutRegister-DocItem"><%%VALUE(DocItem)%%></td>
		<td id="InOutRegister-fo_Classification-<%%VALUE(id)%%>" class="InOutRegister-fo_Classification"><%%VALUE(fo_Classification)%%></td>
		<td id="InOutRegister-ot_ap_Review-<%%VALUE(id)%%>" class="InOutRegister-ot_ap_Review"><%%VALUE(ot_ap_Review)%%></td>
		<td id="InOutRegister-ot_ap_Approval-<%%VALUE(id)%%>" class="InOutRegister-ot_ap_Approval"><%%VALUE(ot_ap_Approval)%%></td>
		<td id="InOutRegister-ot_ap_QC-<%%VALUE(id)%%>" class="InOutRegister-ot_ap_QC"><%%VALUE(ot_ap_QC)%%></td>
		<td id="InOutRegister-ot_ap_filed-<%%VALUE(id)%%>" class="InOutRegister-ot_ap_filed"><%%VALUE(ot_ap_filed)%%></td>
		<td id="InOutRegister-ot_ap_lastmodified-<%%VALUE(id)%%>" class="InOutRegister-ot_ap_lastmodified"><%%VALUE(ot_ap_lastmodified)%%></td>
