<!-- Edit this file to change the layout of the detail view form -->

<a name="detail-view"></a>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div class="panel-body" id="WorkLocation_dv_container">
	<!-- child links -->
	<div class="row vspacer-md">
		<div class="col-xs-12">
			<input type="hidden" id="employees_hclink" value="employees_view.php?filterer_BaseLocation=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="WorkOrder_hclink" value="WorkOrder_view.php?filterer_fo_BaseLocation=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="CommConsParticipate_hclink" value="CommConsParticipate_view.php?filterer_WorkLocationID=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="QA_hclink" value="QA_view.php?filterer_BaseLocation=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="ERP_hclink" value="ERP_view.php?filterer_BaseLocation=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="WorkEnvMonitoring_hclink" value="WorkEnvMonitoring_view.php?filterer_BaseLocation=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="ScheduleWaste_hclink" value="ScheduleWaste_view.php?filterer_worklocID=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="IncidentReporting_hclink" value="IncidentReporting_view.php?filterer_BaseLocation=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="IMStrackingNmonitoring_hclink" value="IMStrackingNmonitoring_view.php?filterer_WorklocID=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="IMSDataAnalysis_hclink" value="IMSDataAnalysis_view.php?filterer_worklocID=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="NonConformance_hclink" value="NonConformance_view.php?filterer_worklocID=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="WorkPermit_hclink" value="WorkPermit_view.php?filterer_WrLocID=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="ProjectTeam_hclink" value="ProjectTeam_view.php?filterer_BaseLocation=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<div class="clearfix"></div>
		</div>
	</div>
	<hr class="hidden-xs hidden-sm">

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-10" id="WorkLocation_dv_form">
			<fieldset class="form-horizontal">

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="id" class="control-label col-lg-3">ID</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="id"><%%VALUE(id)%%></div>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="BaseLocation" class="control-label col-lg-3">Work Location ID<span class="text-danger"><%%TRANSLATION(*)%%></span> <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#BaseLocation-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="BaseLocation-description"><div class="alert alert-info">Identification of work location</div></span>

						<input maxlength="250" type="text" class="form-control" name="BaseLocation" id="BaseLocation" value="<%%VALUE(BaseLocation)%%>" required><div class="text-danger vspacer-md" id="BaseLocation-uniqueness-note" style="display: none;"><%%TRANSLATION(unique field error)%%></div>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="DocItem" class="control-label col-lg-3">Name<span class="text-danger"><%%TRANSLATION(*)%%></span> <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#DocItem-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="DocItem-description"><div class="alert alert-info">Work Location Name</div></span>

						<input maxlength="255" type="text" class="form-control" name="DocItem" id="DocItem" value="<%%VALUE(DocItem)%%>" required>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="fo_DocumentDescription" class="control-label col-lg-3">Description<span class="text-danger"><%%TRANSLATION(*)%%></span> <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#fo_DocumentDescription-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="fo_DocumentDescription-description"><div class="alert alert-info">Description of work Location</div></span>

						<textarea class="form-control" name="fo_DocumentDescription" id="fo_DocumentDescription" rows="5"><%%VALUE(fo_DocumentDescription)%%></textarea>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="fo_Type" class="control-label col-lg-3">Work Location Section<span class="text-danger"><%%TRANSLATION(*)%%></span> <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#fo_Type-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="fo_Type-description"><div class="alert alert-info">type of  work location</div></span>

						<%%COMBO(fo_Type)%%>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="fo_Sector" class="control-label col-lg-3">Sector <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#fo_Sector-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="fo_Sector-description"><div class="alert alert-info">Distric or area of worksite</div></span>

						<input maxlength="256" type="text" class="form-control" name="fo_Sector" id="fo_Sector" value="<%%VALUE(fo_Sector)%%>">
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="fo_Zone" class="control-label col-lg-3">Zone <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#fo_Zone-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="fo_Zone-description"><div class="alert alert-info">Distric of working area. This shall cover larger working envelope.</div></span>

						<input maxlength="256" type="text" class="form-control" name="fo_Zone" id="fo_Zone" value="<%%VALUE(fo_Zone)%%>">
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="fo_Country" class="control-label col-lg-3">Country</label>
					<div class="col-lg-9">
						<%%COMBO(fo_Country)%%>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="ot_FileLoc" class="control-label col-lg-3">File Location & Number</label>
					<div class="col-lg-9">
						<input maxlength="100" type="text" class="form-control" name="ot_FileLoc" id="ot_FileLoc" value="<%%VALUE(ot_FileLoc)%%>">
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="ot_otherdetails" class="control-label col-lg-3">Other details</label>
					<div class="col-lg-9">
						<textarea class="form-control" name="ot_otherdetails" id="ot_otherdetails" rows="5"><%%VALUE(ot_otherdetails)%%></textarea>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="ot_comments" class="control-label col-lg-3">Comments</label>
					<div class="col-lg-9">
						<%%HTMLAREA(ot_comments)%%>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="ot_SharedLink1" class="control-label col-lg-3">Shared Link 1</label>
					<div class="col-lg-9">
						
						<div class="row">
							<div class="col-md-1">
								<a id="ot_SharedLink1-link" href="link.php?t=WorkLocation&f=ot_SharedLink1&i=<%%VALUE(id)%%>" target="_blank"><i class="glyphicon glyphicon-globe" title="<%%VALUE(ot_SharedLink1)%%>" style="font-size: x-large; top: .35em;"></i></a>
								<label for="ot_SharedLink1"><button type="button" id="ot_SharedLink1-edit-link" class="btn btn-default hspacer-lg vspacer-sm" data-toggle="collapse" data-target="#ot_SharedLink1" title="<%%TRANSLATION(Edit)%%>"><i class="glyphicon glyphicon-pencil"></i></button></label>
							</div>
							<script>jQuery(function(){ var e_ot_SharedLink1 = '<%%VALUE(ot_SharedLink1)%%>'; if(e_ot_SharedLink1 == '' || e_ot_SharedLink1 == '&nbsp;' || e_ot_SharedLink1 == 'blank.gif') jQuery('#ot_SharedLink1-link').hide(); });</script><input maxlength="200" type="text" class="form-control collapse" name="ot_SharedLink1" id="ot_SharedLink1" value="<%%VALUE(ot_SharedLink1)%%>">					</div>

					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="ot_SharedLink2" class="control-label col-lg-3">Shared Link 2</label>
					<div class="col-lg-9">
						
						<div class="row">
							<div class="col-md-1">
								<a id="ot_SharedLink2-link" href="link.php?t=WorkLocation&f=ot_SharedLink2&i=<%%VALUE(id)%%>" target="_blank"><i class="glyphicon glyphicon-globe" title="<%%VALUE(ot_SharedLink2)%%>" style="font-size: x-large; top: .35em;"></i></a>
								<label for="ot_SharedLink2"><button type="button" id="ot_SharedLink2-edit-link" class="btn btn-default hspacer-lg vspacer-sm" data-toggle="collapse" data-target="#ot_SharedLink2" title="<%%TRANSLATION(Edit)%%>"><i class="glyphicon glyphicon-pencil"></i></button></label>
							</div>
							<script>jQuery(function(){ var e_ot_SharedLink2 = '<%%VALUE(ot_SharedLink2)%%>'; if(e_ot_SharedLink2 == '' || e_ot_SharedLink2 == '&nbsp;' || e_ot_SharedLink2 == 'blank.gif') jQuery('#ot_SharedLink2-link').hide(); });</script><input maxlength="200" type="text" class="form-control collapse" name="ot_SharedLink2" id="ot_SharedLink2" value="<%%VALUE(ot_SharedLink2)%%>">					</div>

					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Reference_1 <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#ot_Ref01-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="ot_Ref01-description"><div class="alert alert-info">Maximum file size allowed: 64000 KB.<br>Allowed file types: txt, doc, docx, docm, odt, pdf, rtf</div></span>

						
						<div class="row">
							<div class="col-md-8">
								<a id="ot_Ref01-link" href="link.php?t=WorkLocation&f=ot_Ref01&i=<%%VALUE(id)%%>" target="_blank"><%%VALUE(ot_Ref01)%%></a>
							</div>
							<script>jQuery(function(){ var e_ot_Ref01 = '<%%VALUE(ot_Ref01)%%>'; if(e_ot_Ref01 == '' || e_ot_Ref01 == '&nbsp;' || e_ot_Ref01 == 'blank.gif') jQuery('#ot_Ref01-link').hide(); });</script>						<div class="pull-right" style="overflow-x: hidden;">
							<div class="hidden-md hidden-lg vspacer-lg"></div>
							<%%UPLOADFILE(ot_Ref01)%%>
							<%%REMOVEFILE(ot_Ref01)%%>
						</div>
						<div class="clearfix"></div>
					</div>

					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Reference_2 <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#ot_Ref02-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="ot_Ref02-description"><div class="alert alert-info">Maximum file size allowed: 64000 KB.<br>Allowed file types: zip, rar, gz, tar, iso</div></span>

						
						<div class="row">
							<div class="col-md-8">
								<a id="ot_Ref02-link" href="link.php?t=WorkLocation&f=ot_Ref02&i=<%%VALUE(id)%%>" target="_blank"><%%VALUE(ot_Ref02)%%></a>
							</div>
							<script>jQuery(function(){ var e_ot_Ref02 = '<%%VALUE(ot_Ref02)%%>'; if(e_ot_Ref02 == '' || e_ot_Ref02 == '&nbsp;' || e_ot_Ref02 == 'blank.gif') jQuery('#ot_Ref02-link').hide(); });</script>						<div class="pull-right" style="overflow-x: hidden;">
							<div class="hidden-md hidden-lg vspacer-lg"></div>
							<%%UPLOADFILE(ot_Ref02)%%>
							<%%REMOVEFILE(ot_Ref02)%%>
						</div>
						<div class="clearfix"></div>
					</div>

					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Photo <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#ot_Photo-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="ot_Photo-description"><div class="alert alert-info">Maximum file size allowed: 5000 KB.<br>Allowed file types: jpg, jpeg, gif, png</div></span>

						<div class="form-control-static"><div class="pull-left">

						<img src="<%%TRANSLATION(ImageFolder)%%><%%VALUE(ot_Photo)%%>" class="img-responsive img-thumbnail" id="ot_Photo-image">
</div>

												<div class="pull-right" style="overflow-x: hidden;">
							<div class="hidden-md hidden-lg vspacer-lg"></div>
							<%%UPLOADFILE(ot_Photo)%%>
							<%%REMOVEFILE(ot_Photo)%%>
						</div>
						<div class="clearfix"></div>
					</div>

					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="ot_ap_Review" class="control-label col-lg-3" data-parent_link="view_parent_modal">Review</label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(ot_ap_Review)%%></div>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="ot_ap_RevComment" class="control-label col-lg-3">Review Comment</label>
					<div class="col-lg-9">
						<textarea class="form-control" name="ot_ap_RevComment" id="ot_ap_RevComment" rows="5"><%%VALUE(ot_ap_RevComment)%%></textarea>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="ot_ap_Approval" class="control-label col-lg-3" data-parent_link="view_parent_modal">Approval</label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(ot_ap_Approval)%%></div>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="ot_ap_ApprComment" class="control-label col-lg-3">Obstetric history</label>
					<div class="col-lg-9">
						<textarea class="form-control" name="ot_ap_ApprComment" id="ot_ap_ApprComment" rows="5"><%%VALUE(ot_ap_ApprComment)%%></textarea>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="ot_ap_QC" class="control-label col-lg-3" data-parent_link="view_parent_modal">IMS Control</label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(ot_ap_QC)%%></div>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="ot_ap_QCComment" class="control-label col-lg-3">IMS Control Comment</label>
					<div class="col-lg-9">
						<textarea class="form-control" name="ot_ap_QCComment" id="ot_ap_QCComment" rows="5"><%%VALUE(ot_ap_QCComment)%%></textarea>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="ot_ap_filed" class="control-label col-lg-3">Filed <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#ot_ap_filed-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="ot_ap_filed-description"><div class="alert alert-info">This field is automatically populated with the date and time when this record was created.</div></span>

						<div class="form-control-static" id="ot_ap_filed"><%%VALUE(ot_ap_filed)%%></div>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="ot_ap_lastmodified" class="control-label col-lg-3">Last modified <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#ot_ap_lastmodified-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="ot_ap_lastmodified-description"><div class="alert alert-info">This field is automatically populated with the date and time when this record was last modified.</div></span>

						<div class="form-control-static" id="ot_ap_lastmodified"><%%VALUE(ot_ap_lastmodified)%%></div>
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<hr class="hidden-md hidden-lg">
		<div class="col-md-4 col-lg-2" id="WorkLocation_dv_action_buttons">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DVPRINT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div>
	</div>


	<!-- child records -->
	<hr>
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<div id="WorkLocation-children" class="children-tabs"></div>
		</div>
	</div>

</div><!-- /div class="panel-body" -->
	<script src="nicEdit.js"></script>
	<script>
		$j(function() {
			var add_new_mode = (!$j('input[name=SelectedID]').val());
			var embedded_mode = ($j('input[name=Embedded]').val() == 1);

			/* auto-close embedded page? */
			var autoclose_mode = ($j('input[name=AutoClose]').val() == 1);
			var record_added_ok = (location.search.split('record-added-ok=').length == 2);
			var record_updated_ok = (location.search.split('record-updated-ok=').length == 2);
			if((record_added_ok || record_updated_ok) && embedded_mode && autoclose_mode){
				setTimeout(AppGini.closeParentModal, 2000);
			}

			bkLib.onDomLoaded(function(){
				if($j('textarea#ot_comments').length) new nicEditor({ fullPanel : true }).panelInstance('ot_comments');

				$j('.nicEdit-panelContain').parent().width('100%');
				$j('.nicEdit-panelContain').parent().next().width('98%');
				$j('.nicEdit-main').width('99%');
			});
			/* enable DV action buttons to float on scrolling down the form */
			enable_dvab_floating();

			if(!(embedded_mode && AppGini.mobileDevice())){
				$j('select, input[type=text], textarea').not(':disabled').eq(0).focus();
			}

			$j('form').eq(0).change(function(){
				if($j(this).data('already_changed')) return;
				if($j('#deselect').length) $j('#deselect').removeClass('btn-default').addClass('btn-warning').get(0).lastChild.data = " <%%TRANSLATION(Cancel)%%>";
				$j(this).data('already_changed', true);
			});

			$j('a[href="<%%TRANSLATION(ImageFolder)%%>"]').click(function(){ return false; });

			if(embedded_mode){
				/* hide links to children tables in embedded mode */
				$j('.detail_view a[id$=_link]').remove();

				/* append embedded mode to all links */
				var append_embedded = function(){
					$j('a[href]:not([href^="#"]):not([href^="javascript"]):not([href$="Embedded=1"]):not([href*="link.php?t="]):not([href^="mailto:"])').each(
						function(){
							$j(this).attr('href', $j(this).attr('href') + '&Embedded=1');
						}
					);
				}
				setTimeout(append_embedded, 500);
				setTimeout(append_embedded, 1500);
				setTimeout(append_embedded, 2500);
				setTimeout(append_embedded, 3500);
			}

			/* when no record is selected ('add new' mode) */
			if(add_new_mode){
				/* hide links to children tables */
				$j('.detail_view a[id$=_link]').remove();
			}else{
				post(
					'parent-children.php', {
						ParentTable: 'WorkLocation',
						SelectedID: '<%%VALUE(id)%%>',
						Operation: 'show-children'
					},
					'WorkLocation-children'
				);
			}

			if(!embedded_mode){
				/* add a horizontal spacer to [add new parent] buttons that don't have a spacered element before them */
				$j('.add_new_parent').prev(':not(.hspacer-md)').next().addClass('hspacer-md');

				$j('.add_new_parent').click(function(){
					var pt = $j(this).attr('id').replace(/_add_new$/, '');
					modal_window({
						url: pt + '_view.php?addNew_x=1&Embedded=1',
						close: function(){
							var field_id = $j('#' + pt + '_add_new').prevAll('input:hidden').eq(0).attr('id');
							$j('#' + field_id + '-container').select2('focus').select2('focus');
						},
						size: 'full',
						title: $j(this).attr('title')
					});
				});
			}

			/* find and hide parent links if field label has data 'parent_link' set to 'view_parent_hidden' */
			$j('label[data-parent_link=view_parent_hidden]').each(function(){
				$j(this).parents('.form-group').find('.view_parent').hide();
			});

			$j('form').on('click', '.view_parent', function(){
				var pt = $j(this).attr('id').replace(/_view_parent$/, '');
				if($j(this).prevAll('input:hidden').length){
					var parent_id = $j(this).prevAll('input:hidden').eq(0).val();
				}else{
					var parent_id = $j(this).prevAll().children('input:hidden').eq(0).val();
				}

				/* handle radio lookups */
				if($j(this).prevAll('[type=radio]').length){
					parent_id = $j(this).prevAll('[type=radio]').eq(0).val();
				}

				if(parent_id != '{empty_value}' && parent_id != undefined && parent_id != ''){
					var parent_link = $j(this).parents('.form-group').children('label').data('parent_link');
					switch(parent_link){
						case 'view_parent_hidden':
							break;
						case 'view_parent_modal':
							modal_window({
								url: pt + '_view.php?Embedded=1&SelectedID=' + encodeURIComponent(parent_id),
								close: function(){
									var field_id = $j('#' + pt + '_view_parent').prevAll('input:hidden').eq(0).attr('id');
									$j('#' + field_id + '-container').select2('focus').select2('focus');
								},
								size: 'full',
								title: $j(this).attr('title')
							});
							break;
						case 'view_parent_same_window':
							window.location = pt + '_view.php?Embedded=' + (embedded_mode ? '1' : '') + '&SelectedID=' + encodeURIComponent(parent_id);
							break;
						case 'view_parent_new_window':
							window.open(pt + '_view.php?SelectedID=' + encodeURIComponent(parent_id));
							break;
					}

				}
			});

			enforce_uniqueness('WorkLocation', 'BaseLocation');

			/* load admin tools for admin user */
			if(!add_new_mode){
				$j('body').append('<div id="admin-tools-appendix"></div>');
				$j('#admin-tools-appendix').load(
					'ajax_admin_tools.php?table=WorkLocation&id=<%%URLVALUE(id)%%>',
					function(resp){
						if(!resp.length) return;
						$j.ajax('ajax_admin_tools.php?action=get_admin_tools_js&table=WorkLocation&id=<%%URLVALUE(id)%%>');
					}
				);
			}

			/* warn user if 'add new' clicked while unsaved changes exist */
			$j('#addNew').click(function(){
				if($j('#deselect.btn-warning').length){
					return confirm('<%%TRANSLATION(discard changes confirm)%%>');
				}
			});

		});
	</script>