<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the DrillNInspection_init() hook (in hooks/DrillNInspection.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="DrillNInspection-DillID-<%%VALUE(id)%%>" class="DrillNInspection-DillID"><%%SELECT%%><%%VALUE(DillID)%%><%%ENDSELECT%%></td>
		<td id="DrillNInspection-ccpID-<%%VALUE(id)%%>" class="DrillNInspection-ccpID text-right"><%%SELECT%%><%%VALUE(ccpID)%%><%%ENDSELECT%%></td>
		<td id="DrillNInspection-fo_Classification-<%%VALUE(id)%%>" class="DrillNInspection-fo_Classification"><%%SELECT%%><%%VALUE(fo_Classification)%%><%%ENDSELECT%%></td>
		<td id="DrillNInspection-fo_RequiredDate-<%%VALUE(id)%%>" class="DrillNInspection-fo_RequiredDate"><%%SELECT%%><%%VALUE(fo_RequiredDate)%%><%%ENDSELECT%%></td>
		<td id="DrillNInspection-ot_ap_Review-<%%VALUE(id)%%>" class="DrillNInspection-ot_ap_Review"><%%SELECT%%><%%VALUE(ot_ap_Review)%%><%%ENDSELECT%%></td>
		<td id="DrillNInspection-ot_ap_Approval-<%%VALUE(id)%%>" class="DrillNInspection-ot_ap_Approval"><%%SELECT%%><%%VALUE(ot_ap_Approval)%%><%%ENDSELECT%%></td>
		<td id="DrillNInspection-ot_ap_QC-<%%VALUE(id)%%>" class="DrillNInspection-ot_ap_QC"><%%SELECT%%><%%VALUE(ot_ap_QC)%%><%%ENDSELECT%%></td>
		<td id="DrillNInspection-ot_ap_filed-<%%VALUE(id)%%>" class="DrillNInspection-ot_ap_filed"><%%SELECT%%><%%VALUE(ot_ap_filed)%%><%%ENDSELECT%%></td>
		<td id="DrillNInspection-ot_ap_lastmodified-<%%VALUE(id)%%>" class="DrillNInspection-ot_ap_lastmodified"><%%SELECT%%><%%VALUE(ot_ap_lastmodified)%%><%%ENDSELECT%%></td>
