<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the KM_init() hook (in hooks/KM.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="KM-DocumentName-<%%VALUE(id)%%>" class="KM-DocumentName"><%%SELECT%%><%%VALUE(DocumentName)%%><%%ENDSELECT%%></td>
		<td id="KM-fo_Reference-<%%VALUE(id)%%>" class="KM-fo_Reference"><%%SELECT%%><%%VALUE(fo_Reference)%%><%%ENDSELECT%%></td>
		<td id="KM-fo_Volume-<%%VALUE(id)%%>" class="KM-fo_Volume"><%%SELECT%%><%%VALUE(fo_Volume)%%><%%ENDSELECT%%></td>
		<td id="KM-fo_Classification-<%%VALUE(id)%%>" class="KM-fo_Classification"><%%SELECT%%><%%VALUE(fo_Classification)%%><%%ENDSELECT%%></td>
		<td id="KM-fo_Class-<%%VALUE(id)%%>" class="KM-fo_Class"><%%SELECT%%><%%VALUE(fo_Class)%%><%%ENDSELECT%%></td>
		<td id="KM-ot_ap_Review-<%%VALUE(id)%%>" class="KM-ot_ap_Review"><%%SELECT%%><%%VALUE(ot_ap_Review)%%><%%ENDSELECT%%></td>
		<td id="KM-ot_ap_Approval-<%%VALUE(id)%%>" class="KM-ot_ap_Approval"><%%SELECT%%><%%VALUE(ot_ap_Approval)%%><%%ENDSELECT%%></td>
		<td id="KM-ot_ap_QC-<%%VALUE(id)%%>" class="KM-ot_ap_QC"><%%SELECT%%><%%VALUE(ot_ap_QC)%%><%%ENDSELECT%%></td>
		<td id="KM-ot_ap_filed-<%%VALUE(id)%%>" class="KM-ot_ap_filed"><%%SELECT%%><%%VALUE(ot_ap_filed)%%><%%ENDSELECT%%></td>
		<td id="KM-ot_ap_lastmodified-<%%VALUE(id)%%>" class="KM-ot_ap_lastmodified"><%%SELECT%%><%%VALUE(ot_ap_lastmodified)%%><%%ENDSELECT%%></td>
