<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the MWOCorrective_init() hook (in hooks/MWOCorrective.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="MWOCorrective-CorrectiveID-<%%VALUE(id)%%>" class="MWOCorrective-CorrectiveID"><%%VALUE(CorrectiveID)%%></td>
		<td id="MWOCorrective-MwoID-<%%VALUE(id)%%>" class="MWOCorrective-MwoID text-right"><%%VALUE(MwoID)%%></td>
		<td id="MWOCorrective-fo_EmployeeID-<%%VALUE(id)%%>" class="MWOCorrective-fo_EmployeeID"><%%VALUE(fo_EmployeeID)%%></td>
		<td id="MWOCorrective-fo_Position-<%%VALUE(id)%%>" class="MWOCorrective-fo_Position"><%%VALUE(fo_Position)%%></td>
		<td id="MWOCorrective-ot_ap_Review-<%%VALUE(id)%%>" class="MWOCorrective-ot_ap_Review"><%%VALUE(ot_ap_Review)%%></td>
		<td id="MWOCorrective-ot_ap_Approval-<%%VALUE(id)%%>" class="MWOCorrective-ot_ap_Approval"><%%VALUE(ot_ap_Approval)%%></td>
		<td id="MWOCorrective-ot_ap_QC-<%%VALUE(id)%%>" class="MWOCorrective-ot_ap_QC"><%%VALUE(ot_ap_QC)%%></td>
		<td id="MWOCorrective-ot_ap_filed-<%%VALUE(id)%%>" class="MWOCorrective-ot_ap_filed"><%%VALUE(ot_ap_filed)%%></td>
		<td id="MWOCorrective-ot_ap_lastmodified-<%%VALUE(id)%%>" class="MWOCorrective-ot_ap_lastmodified"><%%VALUE(ot_ap_lastmodified)%%></td>
