<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the WorkLocation_init() hook (in hooks/WorkLocation.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="WorkLocation-BaseLocation-<%%VALUE(id)%%>" class="WorkLocation-BaseLocation"><%%SELECT%%><%%VALUE(BaseLocation)%%><%%ENDSELECT%%></td>
		<td id="WorkLocation-DocItem-<%%VALUE(id)%%>" class="WorkLocation-DocItem"><%%SELECT%%><%%VALUE(DocItem)%%><%%ENDSELECT%%></td>
		<td id="WorkLocation-fo_Type-<%%VALUE(id)%%>" class="WorkLocation-fo_Type"><%%SELECT%%><%%VALUE(fo_Type)%%><%%ENDSELECT%%></td>
		<td id="WorkLocation-fo_Sector-<%%VALUE(id)%%>" class="WorkLocation-fo_Sector"><%%SELECT%%><%%VALUE(fo_Sector)%%><%%ENDSELECT%%></td>
		<td id="WorkLocation-fo_Zone-<%%VALUE(id)%%>" class="WorkLocation-fo_Zone"><%%SELECT%%><%%VALUE(fo_Zone)%%><%%ENDSELECT%%></td>
		<td id="WorkLocation-fo_Country-<%%VALUE(id)%%>" class="WorkLocation-fo_Country"><%%SELECT%%><%%VALUE(fo_Country)%%><%%ENDSELECT%%></td>
		<td id="WorkLocation-ot_ap_Review-<%%VALUE(id)%%>" class="WorkLocation-ot_ap_Review"><%%SELECT%%><%%VALUE(ot_ap_Review)%%><%%ENDSELECT%%></td>
		<td id="WorkLocation-ot_ap_Approval-<%%VALUE(id)%%>" class="WorkLocation-ot_ap_Approval"><%%SELECT%%><%%VALUE(ot_ap_Approval)%%><%%ENDSELECT%%></td>
		<td id="WorkLocation-ot_ap_QC-<%%VALUE(id)%%>" class="WorkLocation-ot_ap_QC"><%%SELECT%%><%%VALUE(ot_ap_QC)%%><%%ENDSELECT%%></td>
		<td id="WorkLocation-ot_ap_filed-<%%VALUE(id)%%>" class="WorkLocation-ot_ap_filed"><%%SELECT%%><%%VALUE(ot_ap_filed)%%><%%ENDSELECT%%></td>
		<td id="WorkLocation-ot_ap_lastmodified-<%%VALUE(id)%%>" class="WorkLocation-ot_ap_lastmodified"><%%SELECT%%><%%VALUE(ot_ap_lastmodified)%%><%%ENDSELECT%%></td>
