<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the PROCompletion_init() hook (in hooks/PROCompletion.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="PROCompletion-CompletionNo-<%%VALUE(id)%%>" class="PROCompletion-CompletionNo"><%%VALUE(CompletionNo)%%></td>
		<td id="PROCompletion-ProjectsID-<%%VALUE(id)%%>" class="PROCompletion-ProjectsID"><%%VALUE(ProjectsID)%%></td>
		<td id="PROCompletion-fo_Classification-<%%VALUE(id)%%>" class="PROCompletion-fo_Classification"><%%VALUE(fo_Classification)%%></td>
		<td id="PROCompletion-fo_DocItem-<%%VALUE(id)%%>" class="PROCompletion-fo_DocItem"><%%VALUE(fo_DocItem)%%></td>
		<td id="PROCompletion-fo_Regdate-<%%VALUE(id)%%>" class="PROCompletion-fo_Regdate"><%%VALUE(fo_Regdate)%%></td>
		<td id="PROCompletion-ot_ap_Review-<%%VALUE(id)%%>" class="PROCompletion-ot_ap_Review"><%%VALUE(ot_ap_Review)%%></td>
		<td id="PROCompletion-ot_ap_Approval-<%%VALUE(id)%%>" class="PROCompletion-ot_ap_Approval"><%%VALUE(ot_ap_Approval)%%></td>
		<td id="PROCompletion-ot_ap_QC-<%%VALUE(id)%%>" class="PROCompletion-ot_ap_QC"><%%VALUE(ot_ap_QC)%%></td>
		<td id="PROCompletion-ot_ap_filed-<%%VALUE(id)%%>" class="PROCompletion-ot_ap_filed"><%%VALUE(ot_ap_filed)%%></td>
		<td id="PROCompletion-ot_ap_lastmodified-<%%VALUE(id)%%>" class="PROCompletion-ot_ap_lastmodified"><%%VALUE(ot_ap_lastmodified)%%></td>
