<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the PROExecution_init() hook (in hooks/PROExecution.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="PROExecution-ExecutionNo-<%%VALUE(id)%%>" class="PROExecution-ExecutionNo"><%%VALUE(ExecutionNo)%%></td>
		<td id="PROExecution-ProjectsID-<%%VALUE(id)%%>" class="PROExecution-ProjectsID"><%%VALUE(ProjectsID)%%></td>
		<td id="PROExecution-fo_Classification-<%%VALUE(id)%%>" class="PROExecution-fo_Classification"><%%VALUE(fo_Classification)%%></td>
		<td id="PROExecution-fo_DocItem-<%%VALUE(id)%%>" class="PROExecution-fo_DocItem"><%%VALUE(fo_DocItem)%%></td>
		<td id="PROExecution-fo_Regdate-<%%VALUE(id)%%>" class="PROExecution-fo_Regdate"><%%VALUE(fo_Regdate)%%></td>
		<td id="PROExecution-ot_ap_Review-<%%VALUE(id)%%>" class="PROExecution-ot_ap_Review"><%%VALUE(ot_ap_Review)%%></td>
		<td id="PROExecution-ot_ap_Approval-<%%VALUE(id)%%>" class="PROExecution-ot_ap_Approval"><%%VALUE(ot_ap_Approval)%%></td>
		<td id="PROExecution-ot_ap_QC-<%%VALUE(id)%%>" class="PROExecution-ot_ap_QC"><%%VALUE(ot_ap_QC)%%></td>
		<td id="PROExecution-ot_ap_filed-<%%VALUE(id)%%>" class="PROExecution-ot_ap_filed"><%%VALUE(ot_ap_filed)%%></td>
		<td id="PROExecution-ot_ap_lastmodified-<%%VALUE(id)%%>" class="PROExecution-ot_ap_lastmodified"><%%VALUE(ot_ap_lastmodified)%%></td>
